@using System.Linq
@model List<MOD4.Web.Models.Menu>

<div class="sidebar">

    <!-- SidebarSearch Form -->
    @*<div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @*<li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="nav-icon fab fa-watchman-monitoring"></i>
                        <p>Test</p>
                    </a>
                </li>*@

            @{
                foreach (var menu in Model)
                {
                    if (menu.HaveSub)
                    {
                        <li class="nav-item">
                            <a href="@menu.Href" name="nava" class="nav-link">
                                <i class="@menu.ClassName"></i>
                                <p>
                                    @menu.PageName
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (var sub in menu.SubMenuList)
                                {
                                    if (sub.PageName == "Monitor")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@sub.Href" target="_blank">
                                                <i class="@sub.ClassName"></i>
                                                <p>@sub.PageName</p>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a href="@sub.Href" class="nav-link">
                                                <i class="@sub.ClassName"></i>
                                                <p>@sub.PageName</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @{
                                <a class="nav-link" href="@menu.Href">
                                    <i class="@menu.ClassName"></i>
                                    <p>@menu.PageName</p>
                                </a>
                            }
                        </li>
                    }
                }
            }
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
