@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/carux_logo_n.ico" type="image/x-icon" sizes="16x16" />
    <title>@ViewData["Title"] 🌐</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/css/jqvmap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/css/summernote-bs4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- multiselect document "https://davidstutz.github.io/bootstrap-multiselect/" -->
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.min.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css">
    <!-- customization style -->
    <link id="custStyle" rel="stylesheet" href="~/css/buttonStyleCRUD.css?version=#">
    <link id="custStyle" rel="stylesheet" href="~/css/inputStyle.css?version=#">
    <link id="custStyle" rel="stylesheet" href="~/css/shineBtn.css?version=#">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/icheck-bootstrap.min.css">

    <style>
        @@media (min-width: 1366px) {
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
                transition: margin-left .3s ease-in-out;
                margin-left: 210px;
            }

            .main-sidebar {
                width: 210px;
            }
        }

        @@media (max-width: 1365.98px) {
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
            body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
                margin-left: 0;
            }

            .main-sidebar {
                width: 0px;
                transition: margin-left .3s ease-in-out;
            }
        }

        @@media (min-width: 1366px) {
            .sidebar-mini.sidebar-collapse .content-wrapper,
            .sidebar-mini.sidebar-collapse .main-footer,
            .sidebar-mini.sidebar-collapse .main-header {
                margin-left: 4.6rem !important;
            }

            .main-sidebar {
                width: 210px;
            }
        }

        .wrapper {
            background-color: #c3cadb;
        }

        .layout-fixed .brand-link {
            width: 210px;
        }

        .sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link .main-header {
            width: calc(210px - 0.5rem * 2);
            transition: width ease-in-out .3s;
        }

        aside:first-of-type a span {
            color: white;
            text-shadow: 0 0 2px #fff;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 800;
            font-size: 35px;
            font-style: italic;
            text-align: center;
            vertical-align: top;
            display: inline-block;
            margin-top: -10px;
            margin-left: 7px;
        }

        .mylauoutimg {
            width: 50px;
            height: 50px;
            margin-left: 5px;
            margin-top: -9px;
        }

        .myicon {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            margin-right: 0px;
            color: white;
        }

        .content-wrapper, .main-footer {
            background-color: #c3cadb;
        }

        .main-footer {
            min-height: 20px;
            font-size: 0.5rem;
            text-align: end;
        }

        #searchArea {
            border-top: solid #9e9e9e 1px;
            border-right: none;
            border-left: none;
            border-bottom: solid #9e9e9e 1px;
            border-radius: 8px;
            margin-bottom: 5px;
        }

        #legend {
            width: auto;
            font-size: 15px;
            font-weight: 600;
            color: #787878;
        }

        .card {
            box-shadow: 1px 2px 2px 2px #999;
            margin-top: 5px;
        }

        .card-header, .card-body, .card-footer {
            background-color: #c3cadb;
        }

        /*.card-body {
            background-color: #9fa5b3;
        }*/

        .card-title {
            font-family: "Microsoft JhengHei";
            font-weight: 900;
            font-style: italic;
            font-size: 30px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    @*<script src="~/js/dashboard.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/popper/popper_v3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script>
        $.widget.bridge('uibutton', $.ui.button)
        </script>*@
    <!-- ChartJS -->
    @*<script src="~/plugins/chart.js/Chart.min.js"></script>*@
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    @*<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>*@
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    @*<script src="~/plugins/jszip/jszip.min.js"></script>
        <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/plugins/pdfmake/vfs_fonts.js"></script>*@
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- include BlockUI -->
    <script src="~/lib/jquery-blockUI/dist/jquery.blockUI.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script src="~/plugins/vue/vue.min.js"></script>
    <script type="text/javascript">
        //寫在_Layout.cshtml 供其他頁面使用
        //為所有的$.ajax呼叫設定預設值，當遇到StatusCode為401時，頁面導至登入頁
            $.ajaxSetup({
                statusCode: {
                    401: function () {//未授權，Unauthorized
                        //JS前端導頁
                       window.location.href = "@Url.Action("Index", "Account");"

                    },
                    404: function () {
                        //JS前端導頁
                       window.location.href = "@Url.Action("Index", "Account");"

                    }
                }
            });
    </script>

    <div class="wrapper">
        <!-- Preloader -->
        @*<div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>*@
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand" style="background-color: #3c7da6">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color:lightgray" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a style="color:white">Hi, @Context.User.Claims.FirstOrDefault(m => m.Type == ClaimTypes.Name).Value</a>
                    <a href="@Url.Action("Logout", "Account")" style="color:darkblue"><img class="myicon" src="~/img/icons/log-out-outline.svg" />登出</a>
                </li>
            </ul>
        </nav>
        @RenderBody()

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link" style="height:57px">
                <img class="mylauoutimg" src="~/img/CarUX_Logo_n.png">
                <span class="brand-text font-weight-light">CarUX</span>
            </a>
            <!-- Sidebar -->
            @await Component.InvokeAsync("Navigation")
        </aside>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div style="float:left">
                <strong style="font-size: 7px; color: #a7aba9; font-family: sans-serif ">
                    系統負責人:王士誠 5014-62721 |
                </strong>
                <a>v @GetType().Assembly.GetName().Version.ToString()</a>
            </div>
            <strong>
                Copyright &copy; 2014-2021
            </strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            let _menuLoc = ['Audit', 'Setting', 'Equipment', 'Dashboard', 'MES', 'Manufacture', 'MTBFMTTR', 'MTDINT0', 'MPS', 'Efficiency', 'EffSetting', 'MatlUpload', 'IELayout', 'TakeBackWT'];

            let _pathArray = location.pathname.split('/');
            let _locationPathname = "/" + _pathArray[1] + "/" + _pathArray[2];
            if (_pathArray.length > 3 && $.inArray(_pathArray[3], _menuLoc) > -1) {
                _locationPathname = _locationPathname + "/" + _pathArray[3];
            }
            //$("a[class='nav-link active']").removeClass('active').removeAttr('aria-current');
            $("a[name='nava']").removeClass('active').removeAttr('aria-current');
            $('a[href="' + _locationPathname + '"]').addClass('active').attr('aria-current', 'page');
            $('a[href="' + _locationPathname + '"]').parent().parent().parent().addClass('menu-is-opening menu-open');
            $('a[href="' + _locationPathname + '"]').parent().parent().parent().children('a:first').addClass('active').attr('aria-current', 'page');

            let links = document.getElementsByTagName('link');
            for (let i = 0; i < links.length; i++) {
                if (links[i].getAttribute('id') == 'custStyle') {
                    let href = links[i].getAttribute('href').split('?')[0];

                    let newHref = href + '?version=' + new Date().getMilliseconds();

                    links[i].setAttribute('href', newHref);
                }
            }
        });

        let globalFuc = {
            LoadingPic() {
                let _pathArray = location.pathname.split('/');
                $.blockUI({
                    message: '<img src="/' + _pathArray[1] + '/img/gears.gif" />',
                    css: {
                        borderWidth: '0px',
                        backgroundColor: 'transparent'
                    }
                });
            },
            MapFormToObject(form) {
                let _cnvObj = {};
                form.map(function (prop) {
                    _cnvObj[prop.name] = prop.value;
                });
                return _cnvObj;
            }
        }

        function isJsonString(str) {
            try {
                JSON.parse(str);
                return true;
            } catch (e) {
                return false;
            }
        }

        function unicodeConvert(str) {
            return unescape(result.replace(/\\u/g, '%u')).replace('"', '');
        }

        $('a[href="/CarUX/Performance"]').click(function () {
            globalFuc.LoadingPic();
        });
        $('a[href="/CarUX/MTDDashboard"]').click(function () {
            globalFuc.LoadingPic();
        });

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
