@model MOD4.Web.ViewModel.DemanEditViewModel


<style>
    .col-md-10 {
        margin-top: 15px;
    }

    .modal-dialog {
        box-shadow: 1px 2px 2px 2px #999;
    }

    .modal-header {
        background-color: #3c7da6;
    }

    .modal-body {
        background-color: lightgrey;
    }

    .modal-title {
        font-size: 20px;
        color: white;
        font-weight: 700;
    }

    label[name="underline"] {
        text-decoration: underline;
    }

    input {
        text-align: right;
    }

    .divUploadFile {
        border-right: 1px solid black;
    }

    .uploadFile {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

        .uploadFile:hover {
            overflow: visible;
        }
</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" style="height: 40px; align-items: center; display: flex; ">
            <h3 class="modal-title" id="exampleModalLabel">需求申請單</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismissModal()">
                <span aria-hidden="true" style="color:white">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="card-body">
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="OrderId"></label>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label" name="underline">@Model.OrderId</label>
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" asp-for="CreateDate"></label>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label" name="underline">@Model.CreateDate</label>
                        </div>
                    </div>
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="DemandStatus"></label>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label" name="underline">@Model.DemandStatus</label>
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" asp-for="DemandCategoryId"></label>
                        </div>
                        <div class="col-6">
                            <select class="custom-select" disabled style="width:30%" asp-for="DemandCategoryId">
                                @{
                                    foreach (var category in ViewBag.CategoryOptions)
                                    {
                                    <option value="@category.Id">@category.Value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Subject"></label>
                        </div>
                        <div class="col-9">
                            <label class="col-form-label" name="underline" asp-for="Subject"></label>
                        </div>
                    </div>
                    <div class="form-group" style="display: flex;">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Content"></label>
                        </div>
                        <div class="col-9">
                            <textarea disabled class="form-control" rows="4" asp-for="Content"></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Applicant"></label>
                        </div>
                        <div class="col-2">
                            <input type="text" disabled class="form-control" asp-for="Applicant">
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" asp-for="JobNo"></label>
                        </div>
                        <div class="col-2">
                            <input type="text" disabled class="form-control" maxlength="8" asp-for="JobNo">
                        </div>
                    </div>
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" style="font-size:15px" asp-for="UploadFile1"></label>
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.UploadFile1 == "")
                            {
                                <a href="#">@Model.UploadFile1</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=1&fileNo=0">@Model.UploadFile1</a>
                            }
                            }
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.UploadFile2 == "")
                            {
                                <a href="#">@Model.UploadFile2</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=1&fileNo=1">@Model.UploadFile2</a>
                            }
                            }
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.UploadFile3 == "")
                            {
                                <a>@Model.UploadFile3</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=1&fileNo=2">@Model.UploadFile3</a>
                            }
                            }
                        </div>
                    </div>
                    <hr style="border-width:3px;border-color:gray" />
                    <div class="form-group" style="display:flex">
                        <div class="col-2">
                            <label class="col-form-label" style="font-size:15px" asp-for="CompleteUploadFile1"></label>
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.CompleteUploadFile1 == "")
                            {
                                <a href="#">@Model.CompleteUploadFile1</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=2&fileNo=0">@Model.CompleteUploadFile1</a>
                            }
                            }
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.CompleteUploadFile2 == "")
                            {
                                <a href="#">@Model.CompleteUploadFile2</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=2&fileNo=1">@Model.CompleteUploadFile2</a>
                            }
                            }
                        </div>
                        <div class="col-3 divUploadFile">
                            @{
                            if (Model.CompleteUploadFile3 == "")
                            {
                                <a>@Model.CompleteUploadFile3</a>
                            }
                            else
                            {
                                <a class="uploadFile" target="_blank" href="./Demand/Download?orderSn=@Model.OrderSn&typeId=2&fileNo=2">@Model.CompleteUploadFile3</a>
                            }
                            }
                        </div>
                    </div>
                    <div class="form-group" style="display: flex;">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Remark"></label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" disabled rows="3" asp-for="Remark"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>