@model List<MOD4.Web.ViewModel.DemanMainViewModel>

<table id="table1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().OrderId)</th>
            <th>@Html.DisplayNameFor(model => model.First().DemandCategory)</th>
            <th>@Html.DisplayNameFor(model => model.First().DemandStatus)</th>
            <th>@Html.DisplayNameFor(model => model.First().Subject)</th>
            <th>@Html.DisplayNameFor(model => model.First().Applicant)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreateDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var demand in Model)
            {
                <tr>
                    <td style="width:10%">@demand.OrderId</td>
                    <td style="width:8%">@demand.DemandCategory</td>
                    <td style="width:8%">@demand.DemandStatus</td>
                    <td style="width:25%">@demand.Subject</td>
                    <td style="width:8%">@demand.Applicant</td>
                    <td style="width:10%">@demand.CreateDate</td>
                    <td style="width:8%">
                        @{
                            if (demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Pending)
                            {
                                <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                    <span style="font-size:5px">編輯</span>
                                </button>
                            }
                            else if (demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Processing)
                            {
                                <button class="btn btn-sm btn-default" style="position:relative;background-color:forestgreen" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                    <span style="font-size:5px;color:white">編輯</span>
                                </button>
                            }
                            else if (demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Rejected)
                            {
                                <button class="btn btn-sm btn-default" style="position:relative;background-color:orangered" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                    <span style="font-size:5px">編輯</span>
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
