@model MOD4.Web.ViewModel.DemanEditViewModel
@using MOD4.Web.Enum;

@{
    ViewBag.Title = "編輯需求單";
}


<style>

    .card {
        box-shadow: 1px 2px 2px 2px #999;
        margin-top: 5px;
    }

    .card-header, .card-body, .card-footer {
        background-color: #c3cadb;
    }

    .card-title {
        font-family: "Microsoft JhengHei";
        font-weight: 900;
        font-style: italic;
        font-size: 30px;
    }

    .custom-file-label {
        left: 8px;
    }

    .unit {
        font-size: 8px;
        color: darkred;
    }

    label[name="underline"] {
        text-decoration: underline;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">編 輯 需 求 單</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="demandForm" enctype="multipart/form-data">
                            @{
                                if (@Model.DemandStatusId == DemandStatusEnum.Pending)
                                {
                                    <partial name="_PartialPending" model="Model" />
                                }
                                else if (@Model.DemandStatusId == DemandStatusEnum.Rejected)
                                {
                                    <partial name="_PartialReject" model="Model" />
                                }
                                else if (@Model.DemandStatusId == DemandStatusEnum.Processing)
                                {
                                    <partial name="_PartialProcess" model="Model" />
                                }
                                else if (@Model.DemandStatusId == DemandStatusEnum.Completed || @Model.DemandStatusId == DemandStatusEnum.Verify)
                                {
                                    <partial name="_PartialVerify" model="Model" />
                                }
                            }

                            <input type="hidden" asp-for="OrderSn" value="@Model.OrderSn" />
                            <input type="hidden" asp-for="OrderId" value="@((string)Model.OrderId)" />
                            <input type="hidden" asp-for="DemandStatusId" value="" />
                        </form>
                        <div class="modal fade" id="modal-sm-process">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>確認核准?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input id="btnSave" type="button" class="btn btn-success" value="確認" onclick="saveClick(@((int)DemandStatusEnum.Processing))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-sm-reject">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>確認駁回?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input type="button" class="btn btn-warning" value="確認" onclick="rejectClick(@((int)DemandStatusEnum.Rejected))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-sm-cancel">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p>確認作廢?</p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input id="btnCancel" type="button" class="btn btn-danger" value="確認" onclick="cancelClick(@((int)DemandStatusEnum.Cancel))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-sm-completed">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>確認完成?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input type="button" class="btn btn-success" value="確認" onclick="completedClick(@((int)DemandStatusEnum.Completed))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-sm-verify">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>確認提交申請人待確認?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input type="button" class="btn" style="background-color:orangered;color:white" value="確認" onclick="verifyClick(@((int)DemandStatusEnum.Verify))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-sm-verifyUpd">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>確認更新?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        <input type="button" class="btn btn-outline-success" value="確認" onclick="completedClick(@((int)DemandStatusEnum.Completed))" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts {
    <script type="text/javascript">

    $(function () {
        bsCustomFileInput.init();
    });

    function verifyFile(e) {
        var validExtensions = ['xls', 'xlsx', 'doc', 'docx', 'txt', 'jpg', 'png', 'jpeg'];
        var rg1 = /[^0-9a-zA-Z ._-\u4e00-\u9fa5]/;
        let fileEx = e.files[0].name.replace(/^.*\./, '');
        let fileSize = e.files[0].size;

        if ($.inArray(fileEx, validExtensions) == -1) {
            alert("無效檔案類型");
            e.value = "";
        }
        else if (fileSize > 2097152) {
            alert("檔案過大");
            e.value = "";
        }
        //else if (!rg1.test(fileName)) {
        //    alert("格式有誤");
        //    e.value = "";
        //}
    }

    @*$("#btnSave").click(function () {
        $.blockUI({
            message: '請稍等...',
            css: {
                border: 'none',
                padding: '5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: '.5',
                color: '#fff',
                fontSize: '25px',
                fontFamily: '微軟正黑體',
                fontWeight: 300,
            }
        });
        $.ajax({
            type: "POST",
            url: "/Demand/EditToProcess",
            dataType: 'json',
            data: $("#demandForm").serialize(),
            success: function (result) {
                $.unblockUI();
                if (result.isSuccess) {
                    alert(result.msg);
                    location.href = "@Url.ActionLink("Index", "Demand")";
                }
                else {
                    alert(result.msg);
                }
            }
        });
    });

    $("#btnReject").click(function () {
        var _rr = $("#RejectReason").val();
        if (_rr == "") {
            alert("駁回原因必填");
            return false;
        }

        $.blockUI({
            message: '請稍等...',
            css: {
                border: 'none',
                padding: '5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: '.5',
                color: '#fff',
                fontSize: '25px',
                fontFamily: '微軟正黑體',
                fontWeight: 300,
            }
        });
        $.ajax({
            type: "POST",
            url: "/Demand/EditToReject",
            dataType: 'json',
            data: $("#demandForm").serialize(),
            success: function (result) {
                $.unblockUI();
                if (result.isSuccess) {
                    alert(result.msg);
                    location.href = "@Url.ActionLink("Index", "Demand")";
                }
                else {
                    alert(result.msg);
                }
            }
        });
    });

    $("#btnCancel").click(function () {
        $.blockUI({
            message: '請稍等...',
            css: {
                border: 'none',
                padding: '5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: '.5',
                color: '#fff',
                fontSize: '25px',
                fontFamily: '微軟正黑體',
                fontWeight: 300,
            }
        });
        $.ajax({
            type: "POST",
            url: "/Demand/EditToReject",
            dataType: 'json',
            data: $("#demandForm").serialize(),
            success: function (result) {
                $.unblockUI();
                if (result.isSuccess) {
                    alert(result.msg);
                    location.href = "@Url.ActionLink("Index", "Demand")";
                }
                else {
                    alert(result.msg);
                }
            }
        });
    });*@
    </script>
}