@model MOD4.Web.ViewModel.DemanEditViewModel

<div class="card-body">
    <div class="form-group" style="display:flex">
        <div class="col-2">
            <label class="col-form-label" asp-for="OrderId"></label>
        </div>
        <div class="col-2">
            <label class="col-form-label" name="underline">@Model.OrderId</label>
        </div>
        <div class="col-2">
            <label class="col-form-label" asp-for="CreateDate"></label>
        </div>
        <div class="col-2">
            <label class="col-form-label" name="underline">@Model.CreateDate</label>
        </div>
        <div class="col-2">
            <label class="col-form-label" asp-for="DemandStatus"></label>
        </div>
        <div class="col-2">
            <label class="col-form-label" name="underline">@Model.DemandStatus</label>
        </div>
    </div>
    <div class="form-group" style="display:flex">
        <div class="col-2">
            <label class="col-form-label" asp-for="DemandCategoryId"></label>
        </div>
        <div class="col-6">
            <select class="custom-select" disabled style="width:30%" asp-for="DemandCategoryId">
                @{
                    foreach (var category in ViewBag.CategoryOptions)
                    {
                    <option value="@category.Id">@category.Value</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group" style="display:flex">
        <div class="col-2">
            <label class="col-form-label" asp-for="Subject"></label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" asp-for="Subject">
        </div>
    </div>
    <div class="form-group" style="display: flex;">
        <div class="col-2">
            <label class="col-form-label" asp-for="Content"></label>
        </div>
        <div class="col-9">
            <textarea class="form-control" rows="4" asp-for="Content"></textarea>
        </div>
    </div>
    <div class="form-group" style="display:flex">
        <div class="col-2">
            <label class="col-form-label" asp-for="Applicant"></label>
        </div>
        <div class="col-2">
            <input type="text" disabled class="form-control" asp-for="Applicant">
        </div>
        <div class="col-2">
            <label class="col-form-label" asp-for="JobNo"></label>
        </div>
        <div class="col-2">
            <input type="text" disabled class="form-control" maxlength="8" asp-for="JobNo">
        </div>
    </div>
    <div class="form-group" style="display:flex">
        <div class="col-2">
            <label class="col-form-label" asp-for="UploadFile1"></label>
        </div>
        <div class="col-3 custom-file">
            @{
                if (Model.UploadFile1 == "")
                {
                <a href="#"><label class="custom-file-label">@Model.UploadFile1</label></a>
                }
                else
                {
                <a target="_blank" href="./Download?orderSn=@Model.OrderSn&typeId=1&fileNo=0">
                    <label class="custom-file-label">@Model.UploadFile1</label>
                </a>
                }
            }
        </div>
        <div class="col-3 custom-file">
            @{
                if (Model.UploadFile2 == "")
                {
                <a href="#"><label class="custom-file-label">@Model.UploadFile2</label></a>
                }
                else
                {
                <a target="_blank" href="./Download?orderSn=@Model.OrderSn&typeId=1&fileNo=1">
                    <label class="custom-file-label">@Model.UploadFile2</label>
                </a>
                }
            }
        </div>
        <div class="col-3 custom-file">
            @{
                if (Model.UploadFile3 == "")
                {
                <a><label class="custom-file-label">@Model.UploadFile3</label></a>
                }
                else
                {
                <a target="_blank" href="./Download?orderSn=@Model.OrderSn&typeId=1&fileNo=2">
                    <label class="custom-file-label">@Model.UploadFile3</label>
                </a>
                }
            }
        </div>
    </div>
    <hr style="border-width:3px;border-color:gray" />

    <div class="form-group" style="display: flex;">
        <div class="col-2">
            <label class="col-form-label" asp-for="RejectReason"></label>
        </div>
        <div class="col-9">
            <textarea class="form-control" rows="4" asp-for="RejectReason"></textarea>
        </div>
    </div>
</div>
<div class="card-footer" style="display:flex">
    <div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-sm-process">
            核准
        </button>
    </div>
    <div style="margin-left:8px">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-sm-reject">
            駁回
        </button>
    </div>
</div>


<script type="text/javascript">

    function saveClick(statuId) {
        $.blockUI({
            message: '請稍等...',
            css: {
                border: 'none',
                padding: '5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: '.5',
                color: '#fff',
                fontSize: '25px',
                fontFamily: '微軟正黑體',
                fontWeight: 300,
            }
        });
        $("#DemandStatusId").val(statuId);
        $.ajax({
            type: "POST",
            url: "./Edit",
            dataType: 'json',
            data: $("#demandForm").serialize(),
            success: function (result) {
                $.unblockUI();
                if (result.isSuccess) {
                    alert(result.msg);
                    location.href = "@Url.ActionLink("Index", "Demand")";
                }
                else {
                    alert(result.msg);
                }
            }
        });
    }

    function rejectClick(statuId) {
        var _rr = $("#RejectReason").val();
        if (_rr == "") {
            alert("駁回原因必填");
            return false;
        }

        $.blockUI({
            message: '請稍等...',
            css: {
                border: 'none',
                padding: '5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: '.5',
                color: '#fff',
                fontSize: '25px',
                fontFamily: '微軟正黑體',
                fontWeight: 300,
            }
        });
        $("#DemandStatusId").val(statuId);
        $.ajax({
            type: "POST",
            url: "./Edit",
            dataType: 'json',
            data: $("#demandForm").serialize(),
            success: function (result) {
                $.unblockUI();
                if (result.isSuccess) {
                    alert(result.msg);
                    location.href = "@Url.ActionLink("Index", "Demand")";
                }
                else {
                    alert(result.msg);
                }
            }
        });
    }
</script>
