@model MOD4.Web.ViewModel.MESPermissionCreateViewModel
@using MOD4.Web.Enum;

@{
    ViewBag.Title = "更新申請單";
}

<style>

    /*.card {
        box-shadow: 1px 2px 2px 2px #999;
        margin-top: 5px;
    }

    .card-header, .card-body, .card-footer {
        background-color: #c3cadb;
    }

    .card-title {
        font-family: "Microsoft JhengHei";
        font-weight: 900;
        font-style: italic;
        font-size: 30px;
    }*/

    h5 {
        font-family: "Microsoft JhengHei";
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
    }

    /*#divApplicants {
        margin-top: 5px;
        border-radius: 8px;
    }*/

    #addDiv {
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .align-content-center {
        margin-top: 5px;
        margin-left: 5px;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">更 新 申 請 單</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="mesForm">
                            <div class="card-body">
                                <div class="row d-flex align-content-center flex-wrap">
                                    <div class="col-lg-2">
                                        <label class="col-form-label" asp-for="Department"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Department" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <input class="myInputStyle1" type="text" asp-for="Department" value="@Model.Department" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label" asp-for="SubUnit"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="SubUnit" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="myInputStyle1" asp-for="SubUnit" value="@Model.SubUnit">
                                    </div>
                                </div>
                                <div class="row d-flex align-content-center flex-wrap">
                                    <div class="col-lg-2">
                                        <label class="col-form-label" asp-for="Applicant"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Applicant" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="myInputStyle1" asp-for="Applicant" value="@Model.Applicant">
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label" asp-for="JobId"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="JobId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="myInputStyle1" asp-for="JobId" value="@Model.JobId">
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label" asp-for="Phone"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Phone" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="myInputStyle1" asp-for="Phone" value="@Model.Phone">
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <h5>權限內容</h5>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">製造</label>
                                        @{
                                            int _cnt = 0;

                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId <= 10)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">製造幹部</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 10 && item.MESPermissionId <= 20)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                        <br />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">整合</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 20 && item.MESPermissionId <= 30)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">工程/製程</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 30 && item.MESPermissionId <= 40)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">OQC</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 40 && item.MESPermissionId <= 50)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">戰情</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 50 && item.MESPermissionId <= 60)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <label class="col-1 col-form-label">PC</label>
                                        @{
                                            foreach (var item in Model.PermissionList)
                                            {
                                                if (item.MESPermissionId > 60 && item.MESPermissionId <= 70)
                                                {
                                                    <div class="col-2">
                                                        <input class="custom-checkbox" type="checkbox" asp-for="PermissionList[_cnt].IsEnable" />
                                                        <label class="col-form-label">@item.MESPermission</label>
                                                        <input type="hidden" asp-for="PermissionList[_cnt].MESPermissionId" value="@item.MESPermissionId" />
                                                    </div>
                                                    _cnt++;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <div class="col-lg-2">
                                            <label class="col-form-label" asp-for="OtherPermission"></label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="text" class="myInputStyle1" asp-for="OtherPermission" value="@Model.OtherPermission">
                                        </div>
                                    </div>
                                    <div class="row d-flex align-content-center flex-wrap">
                                        <div class="col-lg-2">
                                            <label class="col-form-label" asp-for="SameEmpName"></label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="text" class="myInputStyle1" asp-for="SameEmpName" value="@Model.SameEmpName">
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label" asp-for="SameEmpJobId"></label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="text" class="myInputStyle1" asp-for="SameEmpJobId" value="@Model.SameEmpJobId">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h5>申請名單</h5>
                                <div id="divApplicants">
                                    @{
                                        for (int i = 0; i < Model.ApplicantList.Count; i++)
                                        {
                                            <div class="row d-flex align-content-center flex-wrap">
                                                <div class="col-lg-2">
                                                    <label class="col-form-label" asp-for="ApplicantList[i].ApplicantJobId"></label>
                                                    <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                                    <span asp-validation-for="ApplicantList[i].ApplicantJobId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="text" class="myInputStyle1" asp-for="ApplicantList.FirstOrDefault().ApplicantJobId" value="@Model.ApplicantList[i].ApplicantJobId">
                                                </div>
                                                <div class="col-lg-2">
                                                    <label class="col-form-label" asp-for="ApplicantList[i].ApplicantName"></label>
                                                    <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                                    <span asp-validation-for="ApplicantList[i].ApplicantName" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="text" class="myInputStyle1" asp-for="ApplicantList.FirstOrDefault().ApplicantName" value="@Model.ApplicantList[i].ApplicantName">
                                                </div>
                                                @if (i != 0)
                                                {
                                                    <div class="col-2">
                                                        <input type="button" class="btn btn-sm btn-outline-secondary" value="刪除" onclick="btnDelApplcant(this)" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                </div>
                                <div class="col-lg-1" id="addDiv">
                                    <input id="btnAddApplicant" class="btn-light" style="background-color: transparent;font-weight:900;color:black" name="name" type="button" value="+新增" />
                                </div>
                                <!-- /.card-body -->
                                <input type="hidden" asp-for="OrderSn" value="@Model.OrderSn" />
                                <input type="hidden" asp-for="StatusId" value="" />
                                <br />
                                <div class="d-flex align-content-center flex-wrap">
                                    <div>
                                        <input id="btnResend" type="button" class="btn" style="background-color: #e5e83c" value="重送" onclick="resendCancelClick(@((int)DemandStatusEnum.Signing))" />
                                    </div>
                                    <div style="margin-left:8px">
                                        <input id="btnCancel" type="button" class="btn btn-danger" value="作廢" onclick="resendCancelClick(@((int)DemandStatusEnum.Cancel))" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts {
    <script type="text/javascript">

        var _applicant = [];

        function resendCancelClick(statusId) {
            if ($("#mesForm").valid()) {
                $.blockUI({
                    message: '請稍等...',
                    css: {
                        border: 'none',
                        padding: '5px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: '.5',
                        color: '#fff',
                        fontSize: '25px',
                        fontFamily: '微軟正黑體',
                        fontWeight: 300,
                    }
                });

                var ttlApplicantCnt = $('#divApplicants').children().length;
                var applicantNames = $("input[name='ApplicantName']");
                var applicantJobIds = $("input[name='ApplicantJobId']");

                for (var i = 0; i < ttlApplicantCnt; i++) {
                    applicantNames[i].name = 'ApplicantList[' + i + '].ApplicantName';
                    applicantJobIds[i].name = 'ApplicantList[' + i + '].ApplicantJobId';
                }

                $('#StatusId').val(statusId);

                $.ajax({
                    type: "POST",
                    url: "../Update",
                    data: $("#mesForm").serialize(),
                    success: function (result) {
                        $.unblockUI();
                        if (result.isSuccess) {
                            alert(result.msg);
                            location.href = "@Url.ActionLink("MESPermission", "Demand")";
                        }
                        else {
                            alert(result.msg);

                        }
                    }
                });
            }
        }

        $("#btnAddApplicant").click(function (e) {
            $.ajax({
                type: "GET",
                url: "../AddInfo",
                dataType: 'html',
                success: function (html) {
                    $("#divApplicants").append(html);
                }
            });
        });

        function btnDelApplcant(e) {
            e.parentNode.parentNode.remove();
        }
    </script>
}