@*@model List<MOD4.Web.ViewModel.ManufactureViewModel>*@
@model List<MOD4.Web.ViewModel.MftrScheduleViewModel>
@using MOD4.Web.ViewModel

@{
    ViewBag.Title = "生產排線";
}

<head>
    <link rel="stylesheet" href="~/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
</head>

<style>
    .card-title {
        font-size: 30px;
        font-weight: 900;
    }

    .my-control {
        display: initial;
        width: 50%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .unit {
        font-size: 8px;
        color: darkred;
    }

    thead {
        width: 50%;
    }

    .fc-daygrid-event {
        white-space: initial;
    }
</style>

<head>
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
</head>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">生產排線(含實驗)</h3>
                        </div>
                        <div class="card-body">
                            @*<span style="font-size:8px;font-weight:700" class="text-danger">*預設顯示當月及上月排程</span>*@
                            <fieldset id="searchArea">
                                <legend id="legend">查詢區塊</legend>
                                <div class="form-group d-flex align-content-center flex-wrap">
                                    <div class="col-lg-1">
                                        <label class="col-form-label" ondblclick="dblClick(this)">製程專線：</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <select id="selProcess" class="my-control" value="">
                                            <option selected value="1">BOND</option>
                                            <option value="2">FOG_VCS</option>
                                            <option value="3">LAM</option>
                                            <option value="4">ASSY_Padi 31.3"</option>
                                            <option value="5">CDP_Padi 31.3"</option>
                                            <option value="6">ASSY_VCS 34"</option>
                                            <option value="7">CDP_VCS 34"</option>
                                            <option value="8">ASSY_Pana 48"</option>
                                            <option value="9">CDP_Pana 48"</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <label class="col-form-label">樓層：</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <select id="selFloor" class="my-control" value="">
                                            <option selected value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <input class="btn btn-info" type="button" name="btn29" value="查詢" onclick="myFuc.Search()" />
                                    </div>
                                </div>
                            </fieldset>
                            @*<div style="text-align: right; font-size: 10px; font-family: 'Microsoft JhengHei'; font-weight: 700; font-style: italic; ">
                                    <p id="latestInfo">最後更新 @ViewBag.UpdateInfo</p>
                                </div>*@
                            <div id="calendar" style="width:100%">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="modal fade" id="modal-sm-completed">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="height: 50px; display: inline-block; align-content: center; background-color: #3c7da6 ;">
                            <h5 style="display: inline-block; font-weight: 700; ">新增單日排程</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="background-color:lightgray">
                            <div class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-md-2">
                                    <label>日期：</label>
                                </div>
                                <div>
                                    <label id="mDate"></label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-md-2">
                                    <label>機種：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="myInputStyle1 select2bs4" id="mDropProd" disabled>
                                        @{
                                            foreach (var lcmProd in ViewBag.ProdOptions)
                                            {
                                                <optgroup label="@lcmProd.Item1">
                                                    @foreach (var item in lcmProd.Item2)
                                                    {
                                                        <option value="@item.Item1">@item.Item2</option>
                                                    }
                                                </optgroup>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-md-2">
                                    <label>日產量：</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="mQty" type="number" class="myInputStyle1" style="text-align:center" min="0" value="0" disabled />
                                </div>
                            </div>
                            <div class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-md-2">
                                    <label>量產品?</label>
                                </div>
                                <div id="mMassDiv" class="col-md-4">
                                    <input id="mMass" type="checkbox" onclick="myFuc.CheckBoxChange(this)"/>
                                </div>
                            </div>
                            <input id="mScheduleSn" type="hidden" value="" />
                        </div>
                        <div id="mfooter" class="modal-footer justify-content-between" style="background-color: lightgray;">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/main.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        var _mngrPermission = @(Convert.ToInt32(Convert.ToBoolean(((UserPermissionViewModel)ViewBag.UserPermission).AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management)));

        //#region myFuc()

        let myFuc = {
            Search() {
                globalFuc.LoadingPic();
                $.ajax({
                    url: "./Manufacture/Search?dateRange=" + $("#dateRange").val() + "&floor=" + $("#selFloor").val() + "&owner=" + $("#selOwner").val(),
                    type: "GET",
                    dataType: 'html',
                    success: function (result) {
                        $.unblockUI();
                        if (isJsonString(result)) {
                            $(".lock-header").children().empty();
                            $("#latestInfo").html("");
                            var _res = JSON.parse(result);
                            alert(_res.message);
                        }
                        else {

                            $(".lock-header").children().empty();
                            $(".lock-header").html(result);

                            $('table tbody').find('tr').each(function (idx, tr) {
                                if (tr.children[0].innerHTML == 'BOND') {
                                    tr.children[0].style.background = '#eba963';
                                    tr.children[3].style.background = '#eba963';
                                }
                                else if (tr.children[0].innerHTML == 'FOG') {
                                    tr.children[0].style.background = '#b0b0b0';
                                    tr.children[3].style.background = '#b0b0b0';
                                }
                                else if (tr.children[0].innerHTML == 'LAM') {
                                    tr.children[0].style.background = '#64aded';
                                    tr.children[3].style.background = '#64aded';
                                }
                                else if (tr.children[0].innerHTML == 'ASSY') {
                                    tr.children[0].style.background = '#a563cf';
                                    tr.children[3].style.background = '#a563cf';
                                }
                                else if (tr.children[0].innerHTML == 'CDP') {
                                    tr.children[0].style.background = '#63cf8c';
                                    tr.children[3].style.background = '#63cf8c';
                                }
                            });

                            $.ajax({
                                url: "./Manufacture/LatestUpdate/" + $("#selFloor").val() + "/" + $("#selOwner").val(),
                                type: "GET",
                                dataType: 'json',
                                success: function (result) {
                                    if (result != '') {
                                        $("#latestInfo").html("");
                                        $("#latestInfo").html("最後更新 " + result);
                                    }
                                    else {
                                        $("#latestInfo").html("最後更新 ");
                                    }
                                }
                            });

                        }
                    }
                });
            },
            @*Upload() {

                if ($("#updFile")[0].files.length == 0) {
                    alert("請選擇檔案");
                    return false;
                }
                globalFuc.LoadingPic();

                var formData = new FormData();
                var uploadFiles = document.getElementById('updFile').files;
                formData.append('updFile', uploadFiles[0]);
                formData.append('floor', $("#uplFloor").val());
                formData.append('owner', $("#uplOwner").val());

                $.ajax({
                    url: "./Manufacture/Upload",
                    type: "POST",
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        $.unblockUI();
                        if (result == '') {
                            alert('更新成功');
                            location.href = "@Url.Action("Manufacture", "MTDDashboard")";
                        }
                        else {
                            alert(result);
                            return false;
                        }
                    }
                });
            },*@
            Upload() {
                if ($("#updFile")[0].files.length == 0) {
                    alert("請選擇檔案");
                    return false;
                }
                $('#modalDesc').html("確認匯入" + $("#uplFloor option:selected").val() + "樓 MTD " + $("#uplOwner option:selected").html() + "排程?");
            },
            SetDbClickEvent() {
                let _tbl = $('tbody[role="presentation"]')[0].children;
                $.each(_tbl, function (index, tr) {
                    $.each(tr.children, function (idx, td) {
                        td.ondblclick = myFuc.DayDbClick;
                    });
                });
            },
            DayDbClick(td) {
                $('#modal-sm-completed').modal('show');
                $('#mDate').html(td.currentTarget.dataset.date);
                $('#mQty').val(0);
                $('#mMass').val('False');
                $('#mMass').removeAttr('checked');

                myFuc.ModalFooterBtnCreate(true);
                myFuc.ModalInputDisplay(false);
            },
            EditClick() {
                $('#btnEdit').attr('disabled', true);
                $('#btnUpd').attr('disabled', false);
                $('#btnCancel').attr('disabled', true);

                myFuc.ModalInputDisplay(false);
            },
            ModalInputDisplay(disabled) {
                $('.modal-body').find('input, select').each(function (idx, attr) {
                    attr.disabled = disabled;
                });
            },
            ModalFooterBtnCreate(isCreate) {
                $('#mfooter').empty();
                if (isCreate) {
                    $('.modal-footer').append('<input id="btnCreate" type="button" class="btn btn-info" value="新增" onclick="" />');
                }
                else {
                    $('.modal-footer').append('<input id="btnEdit" type="button" class="btn btn-warning" value="編輯" onclick="myFuc.EditClick()" /> ' +
                        '<input id="btnUpd" type="button" class="btn btn-secondary" disabled value="儲存" onclick="bookingUpdate()" />' +
                        '<input id="btnCancel" type="button" class="btn btn-danger" disabled data-dismiss="modal" value="取消排程" onclick="bookingCancel()" />');
                }
            },
            ResetCalTitle() {
                let processSel = $("#selProcess").find(":selected").text();
                let _calTitle = $('.fc-toolbar-title')[0];

                if (_calTitle.textContent.split(processSel)[0] != '') {
                    _calTitle.textContent = processSel + ' - ' + _calTitle.textContent.split(processSel)[0];
                }
            },
            CheckBoxChange(e) {
                if (e.checked) {
                    e.value = 'True';
                    $('#mMass').attr('checked', true);
                }
                else {
                    e.value = 'False';
                    $('#mMass').removeAttr('checked');
                }
            }
        }

        //#endregion

        //#region ready()

        $(function () {

            var _calEvents = [];
            let _bgColor = "#239623";

            // 取得 Index return data
            var _modelData = @(Html.Raw(Json.Serialize(Model)));

            _modelData.forEach(function (plan) {
                if (plan.isMass) {
                    _bgColor = "#28a628";
                }
                else {
                    _bgColor = "#e5eb4d";
                }

                _calEvents.push({
                    extendedProps: plan,
                    title: plan.project + '【' + plan.product + '】(' + plan.quantity + ')',
                    start: plan.dateStart,
                    textColor: '#000000',
                    color: _bgColor,
                    allDay: true,
                });
            });

            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            // initial calendar
            let _calObj = {
                headerToolbar: {
                    left: 'customprev,customnext,customtoday',
                    center: 'title',
                    right: '',
                },
                height: 800,
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap',
                editable: true,
                eventResizableFromStart: false,
                displayEventTime: false,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                windowResize: function (e) {
                    // 當 menu 收折, calendar table RWD
                    $('table[role="presentation"]')[0].style.width = '100%';
                    $('table[role="presentation"]')[1].style.width = '100%';
                },
                events: _calEvents,
                eventDrop: function (e) {
                },
                eventClick: function (e) {

                    $('#mDate').html(e.event.startStr.substring(0, 10));
                    $('#mDropProd').val(e.event.extendedProps.productId).trigger('change');
                    $('#mQty').val(e.event.extendedProps.quantity);

                    $('#mMassDiv').empty();
                    $('#mMassDiv').append('<input id="mMass" type="checkbox" onclick="myFuc.CheckBoxChange(this)"/>');

                    if (e.event.extendedProps.isMass) {
                        $('#mMass').attr('checked', true);
                        $('#mMass').val('True');
                    }
                    else {
                        $('#mMass').removeAttr('checked');
                        $('#mMass').val('False');
                    }

                    myFuc.ModalInputDisplay(true);
                    myFuc.ModalFooterBtnCreate(false);

                    $('#modal-sm-completed').modal('show');
                },
                customButtons: {
                    customprev: {
                        text: '<',
                        click: function () {
                            calendar.prev();

                            if (_mngrPermission == 1)
                                myFuc.SetDbClickEvent();

                            myFuc.ResetCalTitle();
                        }
                    },
                    customnext: {
                        text: '>',
                        click: function () {
                            calendar.next();

                            if (_mngrPermission == 1)
                                myFuc.SetDbClickEvent();
                            myFuc.ResetCalTitle();
                        }
                    },
                    customtoday: {
                        text: 'today',
                        click: function () {
                            calendar.today();

                            if (_mngrPermission == 1)
                                myFuc.SetDbClickEvent();
                            myFuc.ResetCalTitle();
                        }
                    }
                }
            }

            var calendar = new Calendar(calendarEl, _calObj);

            calendar.render();

            //
            if (_mngrPermission == 1) {
                myFuc.SetDbClickEvent();
            }
            else {
                $('#mfooter').remove();
            }

            // 當 menu 收折, calendar table RWD
            $('table[role="presentation"]')[0].style.width = '100%';
            $('table[role="presentation"]')[1].style.width = '100%';

            let processSel = $("#selProcess").find(":selected").text();
            let _calTitle = $('.fc-toolbar-title')[0];
            _calTitle.textContent = processSel + ' - ' + _calTitle.textContent;

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

        //#endregion

        // 當 menu 收折, calendar table RWD
        $('a[data-widget="pushmenu"]').on('click', function (e) {
            $('table[role="presentation"]')[0].style.width = '100%';
            $('table[role="presentation"]')[1].style.width = '100%';
            $('.fc-daygrid-body-unbalanced')[0].style.width = '100%';
        });

        function verifyFile(e) {
            var validExtensions = ['xlsx'];
            var rg1 = /[^0-9a-zA-Z ._-\u4e00-\u9fa5]/;
            let fileEx = e.files[0].name.replace(/^.*\./, '');

            if ($.inArray(fileEx, validExtensions) == -1) {
                alert("無效檔案類型");
                e.value = "";
            }
        }

    </script>
}