

@{
    ViewBag.Title = "機況分析";
}

<style>
    .card {
        box-shadow: 3px 3px 3px #999;
        background-color: #393b42;
        margin-top: 10px;
    }

    .card-header {
        /*background-color: #c3cadb;*/
    }

    .card-title {
        font-size: 30px;
        font-weight: 900;
        color: white;
    }

    .card-body {
    }
    /*
    rect {
        background-color: #242042;
    }*/
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">機況明細</h3>
                        </div>
                        <!-- /.card-header -->
                        <div id="hisBody" class="card-body">
                            <div class="row" style="margin-bottom:5px">
                                <div style="margin-right:5px;">
                                    <label>日期起日：</label>
                                    <input id="startDate" class="my-control" type="date" name="name" value="" />
                                </div>
                                <div style="margin-right:5px;">
                                    <label>日期訖日：</label>
                                    <input id="endDate" class="my-control" type="date" name="name" value="" />
                                </div>
                                <div id="hisLine" style="margin-right: 5px;">
                                    <label>Equipment：</label>
                                    <select class="my-select" id="selTool" multiple="multiple">
                                        @{
                                            foreach (var node in ViewBag.RepairedToolId)
                                            {
                                                <optgroup label="@node.Item1">
                                                    @foreach (var eq in node.Item2)
                                                    {
                                                        <option value="@eq">@eq</option>
                                                    }
                                                </optgroup>
                                            }
                                        }
                                    </select>
                                </div>
                                <div style="margin-right: 5px;">
                                    <label>Code：</label>
                                    <select class="my-select" id="selStatus" multiple="multiple">
                                        <option value="1">待 PM 確認</option>
                                        <option value="2">待工程師確認</option>
                                        <option value="3">已完成</option>
                                    </select>
                                </div>
                                <div>
                                    <input id="_btnSearchHis" type="button" class="btn btn-info" style="margin-left:7px" name="btn29" value="查詢" onclick="btnClickSearchHis()" />
                                </div>
                            </div>
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var eqinfo in Model.RepairedEqInfoList)
                                        {
                                            <tr>
                                                <td style="width:8%">@eqinfo.MFGDay</td>
                                                <td style="width:10%">@eqinfo.ToolId</td>
                                                <td style="width:5%">@eqinfo.ToolStatus</td>
                                                <td style="width:12%">@eqinfo.StatusCdsc</td>
                                                <td style="width:25%">@eqinfo.Comment</td>
                                                <td style="width:10%">@eqinfo.LmTime</td>
                                                <td style="width:8%">@eqinfo.RepairedTime</td>
                                                <td style="width:8%">@eqinfo.UserId</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- Modal -->
                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- CHARTS -->
<script src="~/lib/echarts/echarts.js"></script>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
}