@model MOD4.Web.ViewModel.TargetSettingViewModel
@using System.Linq;

@{
    ViewBag.Title = "TT設定";
}

<style>
    .tab-pane label {
        margin: 5px;
    }

    .tab-pane input {
        width: 60px;
        margin: 5px;
        text-align: right;
    }

    input[type='number'] {
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: 70px;
    }

    .dropdown-menu {
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    input[name='downEqInput'], input[name='setting.TimeTarget'] {
        width: 100px;
        border-style: none;
        border-bottom: 2px solid black;
        outline: none;
    }

    .col-form-label {
        word-break: break-all;
    }

    .flex-wrap {
        border-right: 2px solid lightgray;
    }

        .flex-wrap > div {
            width: 50%;
            text-align: center;
        }

    span[name="note"] {
        color: indianred;
        font-weight: 600;
        font-size: 10px;
    }
</style>

<head>
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
</head>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>分時 Target 設定</h2>
                    <hr />
                </div>
            </div>
            <div class="row" style="display:flex">
                <div class="col-6">
                    <h2 id="prodName" style="font-family:Impact">@ViewData["ProdName"]</h2>
                </div>
                <div style="margin-left: 10px;">
                    <label style="font-size:25px">查詢線體：</label>
                </div>
                <div style="margin-bottom: 10px; margin-left: 10px;">
                    <select class="form-control select2bs4" id="dropLine" style="width:300px">
                        @{
                            foreach (var lcmProd in ViewBag.ProdOptions)
                            {
                                <optgroup label="@lcmProd.Item1">
                                    @foreach (var item in lcmProd.Item2)
                                    {
                                        if (item.Item1 == 1206)
                                        {
                                            <option value="@item.Item1" selected>@item.Item2</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Item1">@item.Item2</option>
                                        }
                                    }
                                </optgroup>
                            }
                        }
                    </select>
                </div>
                <div style="margin-bottom: 10px; margin-left: 10px;">
                    <input id="btnSearch" type="button" class="btn btn-info" style="float: right" name="btn29" value="查詢" />
                </div>
            </div>
            <div class="form-group">
                <span name="note">⨂ MTD站點：勾選後為"MTD量產"看板抓取Pass量站點, 各製程段只能一個</span>
                <br />
                <span name="note">⨂ 敲當EQ No.：各製程段人員敲當的EQ, 用於"分時"及"MTD量產"機況撈取</span>
            </div>
            <div class="card card-info card-tabs">
                <div class="card-header p-0 pt-0">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" style="background-color: #3c7da6 ">
                        @{
                            foreach (var node in (ViewData["NodeTab"] as List<int>))
                            {
                                var _href = "#node" + node;
                                <li class="nav-item">
                                    <a class="nav-link" name="settingTab" data-toggle="tab" href="@_href">@node</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">

                        <partial name="_PartialSettingTable" model="Model" />

                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div style="display: flex;">
                <div>
                    <input id="btnEdit" type="button" name="edit" class="btn btn-danger" style="text-align:center" value="編輯" onclick="editClick()" />
                </div>
                <div style="margin-left:5px">
                    <input id="btnSave" type="button" name="submit" class="btn btn-outline-primary" style="text-align:center" value="儲存" onclick="saveClick()" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function setDefault() {
                $("input[name='downEqInput']").attr('disabled', true);
                $("input[name='setting.TimeTarget']").attr('disabled', true);
                $("input[name*='MTDTarget']").attr('disabled', true);
                $("input[type='number']").attr('disabled', true).css('background-color', '#e9ecef');
                $("input[name='submit']").attr('disabled', true).addClass("btn-outline-primary");

                var _formIdList = "@string.Join(",", Model.SettingDetailList.Select(s => s.Node))";
                _formIdList.split(',').forEach(function (node)
                {
                    var sumTT = 0;
                    $("input[class='A" + node + "']").each(function (idx, td) {
                    sumTT += parseInt(td.value);
                    });
                    $("#AsumTT" + node).html(sumTT.toString());
                    sumTT = 0;
                    $("input[class='B" + node + "']").each(function (idx, td) {
                    sumTT += parseInt(td.value);
                    });
                    $("#BsumTT" + node).html(sumTT.toString());
                });

                $(".card-header a").first().addClass("active");
                $(".tab-pane").first().addClass("active");

                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            }
        );

        $("#btnSearch").click(function searchClick() {

            let sel = $("#dropLine option:selected").text();
            $('#prodName').html(sel);

            $.ajax({
                url: "./Setting/Search?prodSn=" + $("#dropLine").val(),
                type: "GET",
                dataType: 'html',
                success: function (result) {
                    if (result != '') {
                        $(".tab-content").empty();
                        $(".tab-content").html(result);

                        $("a[name='settingTab']").removeClass("active");
                        $(".tab-pane").removeClass("active");

                        $(".card-header a").first().addClass("active");
                        $(".tab-pane").first().addClass("active");

                        $("input[type='number']").attr('disabled', true).css('background-color', '#e9ecef');
                        $("input[name='submit']").attr('disabled', true).addClass("btn-outline-primary");


                        var _formIdList = "@string.Join(",", Model.SettingDetailList.Select(s => s.Node))";
                        _formIdList.split(',').forEach(function (node)
                        {
                            var sumTT = 0;
                            $("input[class='A" + node + "']").each(function (idx, td) {
                                sumTT += parseInt(td.value);
                            });
                            $("#AsumTT" + node).html(sumTT.toString());
                            sumTT = 0;
                            $("input[class='B" + node + "']").each(function (idx, td) {
                                sumTT += parseInt(td.value);
                            });
                            $("#BsumTT" + node).html(sumTT.toString());
                        });
                    }
                    else {
                        alert(result);
                    }
                },
                complete: function () {
                    $("input[name='downEqInput']").attr('disabled', true);
                    $("input[name='setting.TimeTarget']").attr('disabled', true);
                    $("input[name*='MTDTarget']").attr('disabled', true);
                    $("input[type='number']").attr('disabled', true).css('background-color', '#e9ecef');
                    $("input[name='edit']").removeAttr('disabled').removeClass("btn-outline-danger").addClass("btn-danger");
                    $("input[name='submit']").attr('disabled', true).removeClass("btn-primary").addClass("btn-outline-primary");
                }
            });

        });


        function editClick(e) {
            $("input[name='downEqInput']").removeAttr('disabled');
            $("input[name='setting.TimeTarget']").removeAttr('disabled');
            $("input[name*='MTDTarget']").removeAttr('disabled');
            $("input[type='number']").removeAttr('disabled').css('background-color', 'white');
            $("input[name='edit']").attr('disabled', true).removeClass("btn-danger").addClass("btn-outline-danger");
            $("input[name='submit']").removeAttr('disabled').removeClass("btn-outline-primary").addClass("btn-primary");
        }

        function saveClick(e) {

            var _formIdList = "@string.Join(",", Model.SettingDetailList.Select(s => s.Node))";

            var inputArray = [];

            _formIdList.split(',').forEach(function (form) {
                //if ($("#form" + form).valid()) {
                //    inputArray.push(objectifyForm($("#form" + form).serializeArray()))
                //}
                inputArray.push(objectifyForm($("#form" + form).serializeArray()))
            });

            $.blockUI({
                message: '請稍等',
                css: {
                    border: 'none',
                    padding: '5px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: '.5',
                    color: '#fff',
                    fontSize: '25px',
                    fontFamily: '微軟正黑體',
                    fontWeight: 300,
                }
            });
            $.ajax({
                url: "./Setting",
                type: "POST",
                /*dataType: 'json',*/
                data: {
                    prodSn: $("#dropLine").val(),
                    settingDetailList: inputArray
                },
                success: function (result) {
                if (result == '') {
                    alert('success.');
                }
                else {
                    alert(result);
                }

                //if (isJsonString(result)) {
                //    var _res = JSON.parse(result);
                //    if (result == '""') {
                //        alert(result);
                //    }
                //    if ('isException' in _res) {
                //        $("#performance").remove();
                //        alert(_res.msg);
                //        return false;
                //    }
                //}
                //else {
                //    alert('success.');
                //}
            }
            });

            $("input[name='downEqInput']").attr('disabled', true);
            $("input[name='setting.TimeTarget']").attr('disabled', true);
            $("input[name*='MTDTarget']").attr('disabled', true);
            $("input[type='number']").attr('disabled', true).css('background-color', '#e9ecef');
            $("input[name='edit']").removeAttr('disabled').removeClass("btn-outline-danger").addClass("btn-danger");
            $("input[name='submit']").attr('disabled', true).removeClass("btn-primary").addClass("btn-outline-primary");
            $.unblockUI();
        }


        function objectifyForm(formArray) {
            //serialize data function
            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                if (formArray[i]['name'].includes('Time') && formArray[i]['name'] != 'setting.TimeTarget') {
                    returnArray[formArray[i]['name'].substring(0, 8)] = formArray[i]['value'];
                }
            }
            if (formArray.length == 29) {
                returnArray['Node'] = formArray[0]['value'];
                returnArray['IsMTDTarget'] = formArray[1]['value'];
                returnArray['DownEquipment'] = formArray[2]['value'];
                returnArray['TimeTarget'] = formArray[3]['value'];
            }
            else {
                returnArray['Node'] = formArray[0]['value'];
                returnArray['DownEquipment'] = formArray[1]['value'];
                returnArray['TimeTarget'] = formArray[2]['value'];
                returnArray['IsMTDTarget'] = "False";
            }

            return returnArray;
        }

        //$("input[name^='Time']").change(function (e) {
        //    var sumTT = 0;
        //    var _subClassName = e.currentTarget.className.substring(0, 5);
        //    $("input[class*=" + _subClassName + "]").each(function (idx, td) {
        //    if (td.value == '') {
        //        td.value = "0";
        //        sumTT += 0;
        //    }
        //    else {
        //        sumTT += parseInt(td.value);
        //    }
        //    });

        //    $("#" + e.currentTarget.className.substring(0, 1) + "sumTT" + e.currentTarget.className.substring(1, 5)).html(sumTT.toString());
        //});

        function targetChange(e) {
            var sumTT = 0;
            var _subClassName = e.className.substring(0, 5);
            $("input[class*=" + _subClassName + "]").each(function (idx, td) {
                if (td.value == '') {
                    td.value = "0";
                    sumTT += 0;
                }
                else {
                    sumTT += parseInt(td.value);
                }
            });

            $("#" + e.className.substring(0, 1) + "sumTT" + e.className.substring(1, 5)).html(sumTT.toString());
        }


        function timeTargetChange(e) {

            let _settingDetail = e.parentElement.parentElement.parentElement;
            let _value = Math.round(60 * 60 * 0.83 / e.value);
            let _sumDayValue = e.parentElement.parentElement.children;
            let _sumNightValue = e.parentElement.parentElement.parentElement.children[5].children[1].children[0];
            _sumDayValue[1].children[0].innerText = _value * 12;
            _sumNightValue.innerText = _value * 12;

            _settingDetail[4].value = _value;
            _settingDetail[5].value = _value;
            _settingDetail[6].value = _value;
            _settingDetail[7].value = _value;
            _settingDetail[8].value = _value;
            _settingDetail[9].value = _value;
            _settingDetail[10].value = _value;
            _settingDetail[11].value = _value;
            _settingDetail[12].value = _value;
            _settingDetail[13].value = _value;
            _settingDetail[14].value = _value;
            _settingDetail[15].value = _value;
            _settingDetail[16].value = _value;
            _settingDetail[17].value = _value;
            _settingDetail[18].value = _value;
            _settingDetail[19].value = _value;
            _settingDetail[20].value = _value;
            _settingDetail[21].value = _value;
            _settingDetail[22].value = _value;
            _settingDetail[23].value = _value;
            _settingDetail[24].value = _value;
            _settingDetail[25].value = _value;
            _settingDetail[26].value = _value;
            _settingDetail[27].value = _value;
        }

        function checkBoxChange(e) {
            if (e.checked) {
                e.value = 'True';
            }
            else {
                e.value = 'False';
            }
        };

    </script>
}
