@model List<MOD4.Web.ViewModel.MeetingCreateViewModel>
@using MOD4.Web.ViewModel

@{
    ViewData["Title"] = "會議室預約";
}

<head>
    <link rel="stylesheet" href="~/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
</head>

<style>
    #imgMap {
        width: 100%;
        height: auto;
    }

    #divBooking, #divSrcFreeRoom, #calendar {
        background-color: #c3cadb;
    }

    .card-title {
        font-size: 20px;
        font-family: "Microsoft JhengHei";
        font-weight: 900;
        font-style: italic;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div id="app" class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div style="background-color: #c3cadb ">
                            <div>
                                <img id="imgMap" src="~/img/meetingRoomMap.png" />
                            </div>
                            <br />
                            <div id="divSrcFreeRoom" class="card">
                                <div class="card-body">
                                    <form id="bookingForm">
                                        <div class="row">
                                            <p style="font-weight:600">閒置時段查詢</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="col-form-label-sm" asp-for="@Model.FirstOrDefault().MeetingRoomId"></label>
                                            </div>
                                            <div class="col-7">
                                                <select id="srcRoom" class="form-control-sm">
                                                    <option value="1" style="color:black;background-color: #01803B ">R201</option>
                                                    <option value="2" style="color:black;background-color: #F1E515">R202</option>
                                                    <option value="4" style="color:black;background-color: #C50C0C">R204</option>
                                                    @*<option value="5" style="color:black;background-color: #3F48CC">中控室</option>*@
                                                    <option value="6" style="color:black;background-color: #A349A4">D</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:3px">
                                            <div class="col-3">
                                                <label class="col-form-label-sm" asp-for="@Model.FirstOrDefault().Date"></label>
                                                <span asp-validation-for="@Model.FirstOrDefault().Date" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                            </div>
                                            <div class="col-7">
                                                <input id="srcDTE" type="date" class="form-control-sm"/>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2px">
                                            <input id="btnSearch" class="btn btn-sm btn-info" type="button" value="查詢" v-on:click="freeTimeSearch" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="divBooking" class="card">
                                <div class="card-header">
                                    <h3 class="card-title">我要預約</h3>
                                </div>
                                <div class="card-body">
                                    <form id="bookingForm">
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="col-form-label" asp-for="@Model.FirstOrDefault().MeetingRoomId"></label>
                                            </div>
                                            <div class="col-7">
                                                <select class="form-control" name="MeetingRoomId" v-model="_model.meetingRoomId">
                                                    <option value="1" style="color:black;background-color: #01803B ">R201</option>
                                                    <option value="2" style="color:black;background-color: #F1E515">R202</option>
                                                    <option value="4" style="color:black;background-color: #C50C0C">R204</option>
                                                    @*<option value="5" style="color:black;background-color: #3F48CC">中控室</option>*@
                                                    <option value="6" style="color:black;background-color: #A349A4">D</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:3px">
                                            <div class="col-3">
                                                <label class="col-form-label" asp-for="@Model.FirstOrDefault().Name"></label>
                                                <span asp-validation-for="@Model.FirstOrDefault().Name" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                            </div>
                                            <div class="col-7">
                                                <input type="text" class="form-control" name="Name" v-model="_model.name" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2px">
                                            <div class="col-3">
                                                <label class="col-form-label" asp-for="@Model.FirstOrDefault().Subject"></label>
                                                <span asp-validation-for="@Model.FirstOrDefault().Subject" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                            </div>
                                            <div class="col-7">
                                                <input type="text" class="form-control" name="Subject" v-model="_model.subject" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:3px">
                                            <div class="col-3">
                                                <label class="col-form-label" asp-for="@Model.FirstOrDefault().Date"></label>
                                                <span asp-validation-for="@Model.FirstOrDefault().Date" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                            </div>
                                            <div class="col-7">
                                                <input type="date" class="form-control" name="Date" v-model="_model.date" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:3px">
                                            <div class="col-3">
                                                <label class="col-form-label" asp-for="@Model.FirstOrDefault().TimeStart"></label>
                                                <span asp-validation-for="@Model.FirstOrDefault().TimeStart" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                            </div>
                                            <div class="col-7">
                                                <input type="text" class="datepicker example form-control" name="TimeStart" v-model="_model.timeStart" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2px">
                                            <label class="col-form-label" style="margin-right:20px" asp-for="@Model.FirstOrDefault().RepeatWeekly"></label>
                                            @{
                                                if (Convert.ToBoolean(((UserPermissionViewModel)ViewBag.UserPermission).AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management))
                                                {
                                                    <input type="checkbox" class="custom-checkbox" name="RepeatWeekly" v-model="_model.repeatWeekly" />
                                                    <label id="repeatNote" class="col-form-label" style="color:red;margin-left:5px"></label>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="custom-checkbox" disabled v-model="_model.repeatWeekly" />
                                                    <label class="col-form-label" style="color:red;margin-left:5px">*例會預約請洽陳冠貽</label>
                                                }
                                            }
                                        </div>
                                        <div class="row" style="margin-top:2px">
                                            <input id="btnBooking" class="btn btn-sm btn-info" type="button" value="預約" v-on:click="bookingClick" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="modal-sm-completed">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header" style="color:white;height: 50px; font-weight: 700; background-color: #3c7da6 ">
                                            <p>會議資訊</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="background-color: #a5bec2 ">
                                            <div>
                                                <label>會議室：</label>
                                                <label id="mRoom"></label>
                                            </div>
                                            <div>
                                                <label>議題：</label>
                                                <label id="mSubject"></label>
                                            </div>
                                            <div>
                                                <label>預約人：</label>
                                                <label id="mName"></label>
                                            </div>
                                            <div>
                                                <label>時間：</label>
                                                <label id="mStartTime"></label>
                                                <br />
                                                <label>　到　</label>
                                                <label id="mEndTime"></label>
                                            </div>
                                            <input id="mMeetingSn" type="hidden" value="" />
                                        </div>
                                        <div class="modal-footer justify-content-between" style="background-color: #a5bec2 ">
                                            @{
                                                if (Convert.ToBoolean(((UserPermissionViewModel)ViewBag.UserPermission).AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management))
                                                {
                                                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="取消會議" v-on:click="bookingCancel()" />
                                                }
                                            }
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div id="calendar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <!-- fullCalendar 2.2.5 -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/main.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript">

        var _model = {
            sn: 0,
            meetingRoomId: 0,
            date: '',
            timeStart: '',
            name: '',
            subject: '',
            repeatWeekly: 0,
            resizeStartTime: null,
            resizeEndTime: null
        };

        const vm = new Vue({
            el: '#app',
            data: _model,
            methods: {
                bookingClick: function () {
                    if ($('#bookingForm').valid()) {
                        //e.preventDefault();

                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 5000
                        });

                        _model.timeStart = $("input[name='TimeStart']").val();

                        $.ajax({
                            url: "./BookingMeeting/Create",
                            type: "POST",
                            dataType: "json",
                            data: _model,
                            success: function (res) {
                                $.unblockUI();
                                if (res.isSuccess) {
                                    alert('預約成功');
                                    location.reload();
                                }
                                else {
                                    alert(res.msg);
                                    //alert(res.msg);
                                    return false;
                                }
                            }
                        });
                    }
                },
                bookingCancel: function () {

                    $.ajax({
                        url: "./BookingMeeting/Cancel/" + $("#mMeetingSn").val(),
                        type: "DELETE",
                        dataType: "json",
                        data: _model,
                        success: function (res) {
                            $.unblockUI();
                            if (res.isSuccess) {
                                alert('會議取消');
                                location.reload();
                            }
                            else {
                                alert(res.msg);
                                //alert(res.msg);
                                return false;
                            }
                        }
                    });
                },
                freeTimeSearch: function () {
                    $.ajax({
                        url: "./BookingMeeting/Search?roomId=" + $("#srcRoom").val() + "&searchDate=" + $("#srcDTE").val(),
                        type: "GET",
                        dataType: "json",
                        success: function (res) {
                            alert(res);
                        }
                    });
                }
            },
            mounted: function (e) {
                $('.example').daterangepicker({
                    "timePicker": true,
                    "timePicker24Hour": true,
                    "timePickerIncrement": 10,
                    locale: {
                        format: 'HH:mm'
                    }
                }).on('show.daterangepicker', function (ev, picker) {
                    picker.container.find(".calendar-table").hide();
                });

                $('.example').val('');

                var _calEvents = [];

                // 取得 Index return data
                var _modelData = @(Html.Raw(Json.Serialize(Model)));
                var _permissionData = @(Html.Raw(Json.Serialize((UserPermissionViewModel)ViewBag.UserPermission)));

                _modelData.forEach(function (meeting) {
                    _calEvents.push({
                        id: meeting.sn,
                        title: meeting.name + '-' + meeting.meetingRoom + '-' + meeting.subject,
                        start: new Date(meeting.startYear, meeting.startMonth - 1, meeting.startDay, meeting.startHour, meeting.startMinute, meeting.startSecond ),
                        end: new Date(meeting.endYear, meeting.endMonth - 1, meeting.endDay, meeting.endHour, meeting.endMinute , meeting.endSecond ),
                        backgroundColor: meeting.backgroundColor, //red
                        textColor: '#000000',
                        allDay: false
                    });
                });

                var Calendar = FullCalendar.Calendar;
                var calendarEl = document.getElementById('calendar');

                var _calObj = {
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    initialView: 'timeGridWeek',
                    themeSystem: 'bootstrap',
                    editable: false,
                    eventResizableFromStart: false,
                    droppable: false, // this allows things to be dropped onto the calendar !!!
                    events: _calEvents,
                    eventDrop: function (e) {

                        _model.sn = parseInt(e.event.id);
                        _model.resizeStartTime = e.event.startStr;
                        _model.resizeEndTime = e.event.endStr;

                        $.ajax({
                            url: "./BookingMeeting/Update",
                            type: "POST",
                            dataType: "json",
                            data: _model,
                            success: function (res) {
                                $.unblockUI();
                                if (res.isSuccess) {
                                    alert('異動成功');
                                    //location.reload();
                                }
                                else {
                                    alert(res.msg);
                                    e.revert();
                                    //alert(res.msg);
                                    return false;
                                }
                            }
                        });
                    },
                    eventResize: function (e) {

                        _model.sn = parseInt(e.event.id);
                        _model.resizeStartTime = e.event.startStr;
                        _model.resizeEndTime = e.event.endStr;

                        $.ajax({
                            url: "./BookingMeeting/Update",
                            type: "POST",
                            dataType: "json",
                            data: _model,
                            success: function (res) {
                                $.unblockUI();
                                if (res.isSuccess) {
                                    alert('異動成功');
                                    //location.reload();
                                }
                                else {
                                    alert(res.msg);
                                    e.revert();
                                    //alert(res.msg);
                                    return false;
                                }
                            }
                        });
                    },
                    eventClick: function (e) {
                        const titleArray = e.event.title.split("-");
                        $('#mRoom').html(titleArray[1]);
                        $('#mSubject').html(titleArray[2]);
                        $('#mName').html(titleArray[0]);
                        $('#mStartTime').html(e.event.startStr.substring(0, 19).replace('T', ' '));
                        $('#mEndTime').html(e.event.endStr.substring(0, 19).replace('T', ' '));
                        $('#mMeetingSn').val(e.event.id);
                        $('#modal-sm-completed').modal('show');
                    }
                };

                if (Boolean(_permissionData.accountPermission & 32)) {
                    _calObj.editable = true;
                    _calObj.eventResizableFromStart = true;
                }

                var calendar = new Calendar(calendarEl, _calObj);

                calendar.render();

                var date = new Date()
                var m = date.getMonth()

                let _repeatDTE = new Date(date.setMonth(m + 4));

                $("#repeatNote").html("*會議重複至" + [_repeatDTE.getFullYear(), _repeatDTE.getMonth(), _repeatDTE.getDate()].join('/'));
            }
        });

    </script>
}