@model List<MOD4.Web.ViewModel.DemanMainViewModel>
@using MOD4.Web.ViewModel

<table id="table1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().OrderId)</th>
            <th>@Html.DisplayNameFor(model => model.First().DemandCategory)</th>
            <th>@Html.DisplayNameFor(model => model.First().DemandStatus)</th>
            <th>@Html.DisplayNameFor(model => model.First().Subject)</th>
            <th>@Html.DisplayNameFor(model => model.First().Applicant)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreateDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var demand in Model)
            {
                <tr>
                    <td style="width:10%">@demand.OrderId</td>
                    <td style="width:8%">@demand.DemandCategory</td>
                    <td class="status" style="width:8%;font-weight:600">@demand.DemandStatus</td>
                    <td style="width:25%">@demand.Subject</td>
                    <td style="width:8%">@demand.Applicant</td>
                    <td style="width:10%">@demand.CreateDate</td>
                    <td style="width:8%">
                        @{

                            UserPermissionViewModel _test = (UserPermissionViewModel)ViewBag.UserPermission;

                            // 管理者訂單"完成"可編輯&查看
                            if (demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Completed &&
                                Convert.ToBoolean(_test.AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management))
                            {
                                <a class="btn btn-sm" data-toggle="modal" style="font-size:15px" data-target="#detailModal" onclick="detailClick(@demand.OrderSn)">
                                    <i class="fa fa-search"></i>
                                </a>
                                <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                    <span style="font-size:5px">編輯</span>
                                </button>
                            }
                            // 管理者訂單"待評估"&"進行中"可編輯、開單人判斷 userEditable 是否能編輯
                            else if (((demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Processing ||
                                demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Pending ||
                                demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Verify) &&
                                Convert.ToBoolean(_test.AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management)) ||
                                demand.UserEditable)
                            {
                                <a class="btn btn-sm" data-toggle="modal" style="font-size:15px" data-target="#detailModal" onclick="detailClick(@demand.OrderSn)">
                                    <i class="fa fa-search">明細</i>
                                </a>
                                <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                    <span style="font-size:5px">編輯</span>
                                </button>
                            }
                            else
                            {
                                <a class="btn btn-sm" data-toggle="modal" style="font-size:15px" data-target="#detailModal" onclick="detailClick(@demand.OrderSn)">
                                    <i class="fa fa-search">明細</i>
                                </a>
                            }

                            // Old
                            @*if (demand.DemandStatusId == MOD4.Web.Enum.DemandStatusEnum.Completed && demand.RoleId == MOD4.Web.Enum.RoleEnum.DemandSysMgr)
                                {
                                    <a class="btn btn-sm" data-toggle="modal" style="font-size:15px" data-target="#detailModal" onclick="detailClick(@demand.OrderSn)">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                        <span style="font-size:5px">編輯</span>
                                    </button>
                                }
                                else if (demand.RoleId == MOD4.Web.Enum.RoleEnum.DemandSysMgr)
                                {
                                    <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                        <span style="font-size:5px">編輯</span>
                                    </button>
                                }
                                else if (demand.UserEditable)
                                {
                                    <button class="btn btn-sm btn-primary" style="position:relative" onclick="editClick(@demand.OrderSn,'@(demand.OrderId)')">
                                        <span style="font-size:5px">編輯</span>
                                    </button>
                                }
                                else
                                {
                                    <a class="btn btn-sm" data-toggle="modal" style="font-size:15px" data-target="#detailModal" onclick="detailClick(@demand.OrderSn)">
                                        <i class="fa fa-search">明細</i>
                                    </a>
                                }*@
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
