@model List<MOD4.Web.ViewModel.CIMTestBookingViewModel>
@using MOD4.Web.ViewModel

@{
    ViewData["Title"] = "CIM測機排程";
}

<head>
    <link rel="stylesheet" href="~/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/css/bootstrap-calendar-solar.css">
    @*<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">*@
</head>

<style>
    /*    #imgMap {
        width: 100%;
        height: auto;
    }*/

    /*#calendar, .fc-scrollgrid-sync-inner {
        background-color: #808080;
    }*/

    /*
    #divBooking, #divSrcFreeRoom {
        background-color: #c3cadb;
    }*/

    .card {
        --bs-card-bg: #285573;
    }

    body {
        color: #e1eaf0;
    }

    .card-title {
        font-size: 20px;
        font-family: "Microsoft JhengHei";
        font-weight: 900;
        font-style: italic;
    }

    select[class='myInputStyle1'] {
        background-color: #303030;
    }

    .col-form-label {
        color: black;
    }

    .fc-daygrid-event {
        white-space: initial;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div id="app" class="container-fluid">
            <div class="d-flex align-content-center flex-wrap">
                <div><a style="background-color: #bf2c2e">Spec開發</a></div>
                <div><a style="background-color: #8427c2; margin-left: 4px;">會議討論</a></div>
                <div><a style="background-color: #4bd60f; margin-left: 4px;">FAB Test</a></div>
                <div><a style="background-color: #f0d107; margin-left: 4px;">LAB Test</a></div>
                <div><a style="background-color: #666666; margin-left: 4px;">Done</a></div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div id="calendar">
                    </div>
                </div>
            </div>
            @{
                if (Convert.ToBoolean(((UserPermissionViewModel)ViewBag.UserPermission).AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management))
                {
                    <div id="divBooking" class="card">
                        <div class="card-header">
                            <h3 class="card-title">CIM 排程新增</h3>
                        </div>
                        <div class="card-body">
                            <form id="bookingForm">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().CIMTestTypeId"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().CIMTestTypeId" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" v-model="_model.cimTestTypeId">
                                            <option value="1">LAB Test</option>
                                            <option value="2">FAB Test</option>
                                            <option value="4">Spec dev.</option>
                                            <option value="5">會議</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().FloorId"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().FloorId" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" v-model="_model.floorId">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:2px">
                                    <div class="col-md-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().Name"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().Name" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="Name" v-model="_model.name" />
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().JobId"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().JobId" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="JobId" v-model="_model.jobId" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:2px">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().Subject"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().Subject" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="Subject" v-model="_model.subject" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:3px">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().Date"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().Date" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-2">
                                        <input type="date" class="form-control" name="Date" v-model="_model.date" />
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().CIMTestDayTypeId"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().CIMTestDayTypeId" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control" v-model="_model.cimTestDayTypeId">
                                            <option value="1">上午</option>
                                            <option value="2">下午</option>
                                            <option value="3">整天</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:3px">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().Days"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().Days" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control" v-model="_model.days">
                                            <option value="1">1天</option>
                                            <option value="2">2天</option>
                                            <option value="3">3天</option>
                                            <option value="4">4天</option>
                                            <option value="5">5天</option>
                                            <option value="6">6天</option>
                                            <option value="7">7天</option>
                                            <option value="8">8天</option>
                                            <option value="9">9天</option>
                                            <option value="10">10天</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:2px">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="@Model.FirstOrDefault().Remark"></label>
                                        <span asp-validation-for="@Model.FirstOrDefault().Remark" style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="Remark" v-model="_model.remark" />
                                    </div>
                                </div>
                                <div class="row col-sm-2">
                                    <input id="btnBooking" class="btn btn-sm btn-dark" type="button" value="預約" v-on:click="bookingClick" />
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }
            <div class="modal fade" id="modal-sm-completed">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="height:50px;font-weight: 700; display: inline-block;align-content:center">
                            <h5 style="display:inline-block">CIM 測試預約內容</h5>
                            <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>日期：</label>
                                @*<label id="mDate"></label>*@
                                <input id="mDate" type="date" class="myInputStyle1" disabled style="width:85%" />
                            </div>
                            <div>
                                <label>測試階段：</label>
                                @*<label id="mTestType"></label>*@
                                <select id="mTestType" class="myInputStyle1" disabled style="width: 80%;">
                                    <option value="1">LAB Test</option>
                                    <option value="2">FAB Test</option>
                                    <option value="4">Spec dev.</option>
                                    <option value="5">會議</option>
                                    <option value="3">Done</option>
                                </select>
                            </div>
                            <div>
                                <label>議題：</label>
                                @*<label id="mSubject"></label>*@
                                <input id="mSubject" type="text" class="myInputStyle1" disabled style="width:85%" />
                            </div>
                            <div>
                                <label>樓層：</label>
                                @*<label id="mFloor"></label>*@
                                <select id="mFloor" class="myInputStyle1" disabled style="width:85%">
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div>
                                <label>預約人：</label>
                                @*<label id="mName"></label>*@
                                <input id="mName" type="text" class="myInputStyle1" disabled style="width:80%" />
                            </div>
                            <div>
                                <label>工號：</label>
                                @*<label id="mName"></label>*@
                                <input id="mJobId" type="text" class="myInputStyle1" disabled style="width:85%" />
                            </div>
                            <div>
                                <label>測試時間：</label>
                                @*<label id="mTestDayType"></label>*@
                                <select id="mTestDayType" class="myInputStyle1" disabled style="width:80%">
                                    <option value="1">AM</option>
                                    <option value="2">PM</option>
                                    <option value="3">All</option>
                                </select>
                            </div>
                            <div>
                                <label>備註：</label>
                                <input id="mRemark" type="text" class="myInputStyle1" disabled style="width:85%" />
                            </div>
                            <input id="mMeetingSn" type="hidden" value="" />
                        </div>
                        <div class="modal-footer justify-content-between">
                            @{
                                if (Convert.ToBoolean(((UserPermissionViewModel)ViewBag.UserPermission).AccountPermission & (int)MOD4.Web.Enum.PermissionEnum.Management))
                                {
                                    <input id="btnEdit" type="button" class="btn btn-warning" value="編輯" v-on:click="bookingEdit()" />
                                    <input id="btnUpd" type="button" class="btn btn-secondary" value="儲存" v-on:click="bookingUpdate()" />
                                    <input id="btnCancel" type="button" class="btn btn-danger" data-dismiss="modal" value="取消排程" v-on:click="bookingCancel()" />
                                }
                            }
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </section>
</div>

@section scripts{
    <!-- fullCalendar 2.2.5 -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/main.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript">

        var _model = {
            sn: 0,
            cimTestTypeId: 0,
            date: '',
            name: '',
            jobId: '',
            subject: '',
            cimTestDayTypeId: 0,
            floorId: 0,
            days: 0,
            remark: ''
        };

        var Calendar = FullCalendar.Calendar;
        var calendarEl = document.getElementById('calendar');

        // initial calendar
        var _calObj = {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth',
            },
            height: 800,
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap',
            editable: false,
            eventResizableFromStart: false,
            displayEventTime: false,
            droppable: false, // this allows things to be dropped onto the calendar !!!
            //events: _calEvents,
            eventDrop: function (e) {

                _model.sn = e.event.id;
                _model.cimTestTypeId = e.event.extendedProps.cimTestTypeId;
                _model.date = e.event.startStr.substring(0, 10);
                _model.name = e.event.extendedProps.name;
                _model.subject = e.event.extendedProps.subject;
                _model.cimTestDayTypeId = e.event.extendedProps.cimTestDayTypeId;
                _model.floorId = e.event.extendedProps.floorId;
                _model.jobId = e.event.extendedProps.jobId;
                _model.remark = e.event.extendedProps.remark;

                $.ajax({
                    url: "./BookingMeeting/Update",
                    type: "POST",
                    dataType: "json",
                    data: _model,
                    success: function (res) {
                        $.unblockUI();
                        if (res.isSuccess) {
                            alert('異動成功');
                        }
                        else {
                            alert(res.msg);
                            e.revert();
                            //alert(res.msg);
                            return false;
                        }
                    }
                });
            },
            eventResize: function (e) {

                _model.sn = parseInt(e.event.id);
                _model.resizeStartTime = e.event.startStr;
                _model.resizeEndTime = e.event.endStr;

                $.ajax({
                    url: "./BookingMeeting/Update",
                    type: "POST",
                    dataType: "json",
                    data: _model,
                    success: function (res) {
                        $.unblockUI();
                        if (res.isSuccess) {
                            alert('異動成功');
                            //location.reload();
                        }
                        else {
                            alert(res.msg);
                            e.revert();
                            //alert(res.msg);
                            return false;
                        }
                    }
                });
            },
            eventClick: function (e) {

                $('#btnEdit').attr('disabled', false);
                $('#btnUpd').attr('disabled', true);
                $('#btnCancel').attr('disabled', false);

                $('#mDate').val(e.event.startStr.substring(0, 10));
                /*var _testTypeOption = $("#mTestType option").filter(":contains('" + titleArray[2] + "')").val();*/
                $('#mTestType').val(e.event.extendedProps.cimTestTypeId);
                //$("#mTestType option[value=" + titleArray[2] + "]");
                //$('#mTestType').html(titleArray[2]);
                $('#mSubject').val(e.event.extendedProps.subject);
                $('#mFloor').val(e.event.extendedProps.floorId);
                $('#mName').val(e.event.extendedProps.name);
                $('#mJobId').val(e.event.extendedProps.jobId);
                $('#mTestDayType').val(e.event.extendedProps.cimTestDayTypeId);
                $('#mRemark').val(e.event.extendedProps.remark);
                $('#mMeetingSn').val(e.event.id);
                $('#modal-sm-completed').modal('show');
            }
        };

        var calendar = new Calendar(calendarEl, _calObj);

        const vm = new Vue({
            el: '#app',
            data: _model,
            methods: {
                bookingClick: function () {
                    if ($('#bookingForm').valid()) {
                        //e.preventDefault();

                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000
                        });

                        if (_model.cimTestTypeId == 0 || _model.date == '' || _model.name == '' || _model.jobId == '' || _model.subject == '' || _model.cimTestDayTypeId == 0 || _model.floorId == 0 || _model.days == 0) {
                            Toast.fire({
                                icon: 'error',
                                title: '請確認必填項目'
                            })
                            return;
                        }

                        //_model.timeStart = $("input[name='TimeStart']").val();

                        $.ajax({
                            url: "./BookingMeeting/Create",
                            type: "POST",
                            dataType: "json",
                            data: _model,
                            success: function (res) {
                                $.unblockUI();
                                if (res.isSuccess) {
                                    alert('預約成功');
                                    location.reload();
                                }
                                else {
                                    alert(res.msg);
                                    //alert(res.msg);
                                    return false;
                                }
                            }
                        });
                    }
                },
                bookingEdit: function () {
                    $('#btnEdit').attr('disabled', true);
                    $('#btnUpd').attr('disabled', false);
                    $('#btnCancel').attr('disabled', true);

                    $('.modal-body').find('input, select').each(function (idx, attr) {
                        attr.disabled = false;
                    });
                },
                bookingUpdate: function () {

                    _model.sn = $('#mMeetingSn').val();
                    _model.cimTestTypeId = $("#mTestType").find("option:selected").val();
                    _model.date = $('#mDate').val();
                    _model.name = $('#mName').val();
                    _model.subject = $('#mSubject').val();
                    _model.cimTestDayTypeId = $("#mTestDayType").find("option:selected").val();
                    _model.floorId = $("#mFloor").find("option:selected").val();
                    _model.jobId = $("#mJobId").val();
                    _model.remark = $("#mRemark").val();

                    globalFuc.LoadingPic();

                    $.ajax({
                        url: "./BookingMeeting/Update",
                        type: "POST",
                        dataType: "json",
                        data: _model,
                        success: function (res) {
                            $.unblockUI();
                            if (res.isSuccess) {
                                $('#btnEdit').attr('disabled', false);
                                $('#btnUpd').attr('disabled', true);
                                $('#btnCancel').attr('disabled', false);
                                alert('異動成功');

                                let _cimTestDayTypeOpt = ($("#mTestDayType option[value=" + $("#mTestDayType").find("option:selected").val() + "]")[0]).text;

                                let _currEnevt = calendar.getEventById($('#mMeetingSn').val());

                                _currEnevt.setProp('title', res.data.floorId + 'F[' + _cimTestDayTypeOpt + ']' + res.data.name + '-' + res.data.subject);
                                _currEnevt.setStart(new Date(res.data.startYear, res.data.startMonth - 1, res.data.startDay, res.data.startHour, res.data.startMinute, res.data.startSecond));
                                _currEnevt.setEnd(new Date(res.data.endYear, res.data.endMonth - 1, res.data.endDay, res.data.endHour, res.data.endMinute, res.data.endSecond));
                                _currEnevt.setProp('color', res.data.backgroundColor);
                                _currEnevt.setExtendedProp('date', $('#mDate').val());
                                _currEnevt.setExtendedProp('cimTestTypeId', $("#mTestType").find("option:selected").val());
                                _currEnevt.setExtendedProp('cimTestDayTypeId', $("#mTestDayType").find("option:selected").val());
                                _currEnevt.setExtendedProp('floorId', $("#mFloor").find("option:selected").val());
                                _currEnevt.setExtendedProp('name', $('#mName').val());
                                _currEnevt.setExtendedProp('jobId', $('#mJobId').val());
                                _currEnevt.setExtendedProp('subject', $('#mSubject').val());
                                _currEnevt.setExtendedProp('remark', $('#mRemark').val());

                                $('#modal-sm-completed').modal('hide');
                            }
                            else {
                                alert(res.msg);
                                return false;
                            }
                        }
                    });
                },
                bookingCancel: function () {

                    $.ajax({
                        url: "./BookingMeeting/Cancel/" + $("#mMeetingSn").val(),
                        type: "DELETE",
                        dataType: "json",
                        data: _model,
                        success: function (res) {
                            $.unblockUI();
                            if (res.isSuccess) {
                                alert('排程預約取消');

                                let _currEnevt = calendar.getEventById($('#mMeetingSn').val());

                                _currEnevt.remove();

                                $('#modal-sm-completed').modal('hide');
                            }
                            else {
                                alert(res.msg);
                                //alert(res.msg);
                                return false;
                            }
                        }
                    });
                },
                freeTimeSearch: function () {
                    $.ajax({
                        url: "./BookingMeeting/Search?roomId=" + $("#srcRoom").val() + "&searchDate=" + $("#srcDTE").val(),
                        type: "GET",
                        dataType: "json",
                        success: function (res) {
                            alert(res);
                        }
                    });
                }
            },
            mounted: function (e) {
                $('.example').daterangepicker({
                    "timePicker": true,
                    "timePicker24Hour": true,
                    "timePickerIncrement": 10,
                    locale: {
                        format: 'HH:mm'
                    }
                }).on('show.daterangepicker', function (ev, picker) {
                    picker.container.find(".calendar-table").hide();
                });

                $('.example').val('');

                var _calEvents = [];

                // 取得 Index return data
                var _modelData = @(Html.Raw(Json.Serialize(Model)));
                var _permissionData = @(Html.Raw(Json.Serialize((UserPermissionViewModel)ViewBag.UserPermission)));

                _modelData.forEach(function (meeting) {
                    _calEvents.push({
                        id: meeting.sn,
                        extendedProps: meeting,
                        title: meeting.floorId + 'F[' + meeting.cimTestDayType + ']' + meeting.name + '-' + meeting.subject,
                        start: new Date(meeting.startYear, meeting.startMonth - 1, meeting.startDay, meeting.startHour, meeting.startMinute, meeting.startSecond ),
                        end: new Date(meeting.endYear, meeting.endMonth - 1, meeting.endDay, meeting.endHour, meeting.endMinute , meeting.endSecond ),
                        //backgroundColor: "#294da6", //red
                        //borderColor: "#b80909",
                        color: meeting.backgroundColor,
                        textColor: '#000000',
                        allDay: false,
                    });
                });

                Calendar = FullCalendar.Calendar;
                calendarEl = document.getElementById('calendar');

                _calObj.events = _calEvents;

                if (Boolean(_permissionData.accountPermission & 32)) {
                    _calObj.editable = true;
                    _calObj.eventResizableFromStart = true;
                }

                calendar = new Calendar(calendarEl, _calObj);

                calendar.render();

                $('.modal').on('hidden.bs.modal', function () {
                    $('.modal-body').find('input, select').each(function (idx, attr) {
                        attr.disabled = true;
                    });
                })

                //var date = new Date()
                //var m = date.getMonth()
                //let _repeatDTE = new Date(date.setMonth(m + 4));
                //$("#repeatNote").html("*會議重複至" + [_repeatDTE.getFullYear(), _repeatDTE.getMonth(), _repeatDTE.getDate()].join('/'));
            }
        });

    </script>
}