@model List<MOD4.Web.ViewModel.SPCDataViewModel>
@using MOD4.Web.Enum;


<div id="bar-chart" style="margin-bottom:5px"></div>

<table id="sample" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().MeasureDate)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().MeasureTime)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().SHTId)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().ProductId)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().DataGroup)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().DTX)</th>
            <th class="myth2">@Html.DisplayNameFor(model => model.First().DTRM)</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var data in Model)
            {
                <tr>
                    <td>@data.MeasureDate</td>
                    <td>@data.MeasureTime</td>
                    <td>@data.SHTId</td>
                    <td>@data.ProductId</td>
                    <td>@data.DataGroup</td>
                    <td>@data.DTX</td>
                    <td>@data.DTRM</td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <!-- CHARTS -->
    <script src="~/lib/echarts/echarts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#bar-chart").css("min-height", "300px");
            $("#bar-chart").css("min-width", "300px");
            $("#bar-chart").css("background-color", "#393b42");
            var chartDom = document.getElementById('bar-chart');
            var echar = echarts.init(chartDom);

            var option = {
                title: {
                    text: ''
                },
                tooltip: {},
                legend: {
                    data: ['BONDING', 'LAM', 'ASSY', 'CKEN', 'DKEN'],
                    textStyle: { color: "white" }
                },
                xAxis: {
                    data: ['9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
                    axisLabel: { color: "white" }
                },
                yAxis: {
                    name: "",
                    nameTextStyle: {
                        color: "white"
                    },
                    axisLabel: {
                        color: "white"
                    }
                },
                series: [
                    {
                        name: 'BONDING',
                        type: 'line',
                        data: [55, 55, 55, 55, 55, 55, 55]
                    },
                    {
                        name: 'LAM',
                        type: 'line',
                        data: [5, 22, 47, 69, 19, 12, 7]
                    },
                    {
                        name: 'ASSY',
                        type: 'line',
                        data: [9, 33, 87, 46, 7, 44, 13]
                    },
                    {
                        name: 'CKEN',
                        type: 'line',
                        data: [7, 9, 36, 4, 52, 21, 38]
                    },
                    {
                        name: 'DKEN',
                        type: 'line',
                        data: [7, 9, 36, 4, 52, 21, 38]
                    }
                ]
            };

            echar.setOption(option);

            echar.on('click', function (params) {
                let _test = params;
            })

            var areaChartData = {
                labels: ['9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
                datasets: [
                    {
                        label: 'BONDING',
                        backgroundColor: '#3483eb',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 86, 27, 1, 33, 77]
                    },
                    {
                        label: 'LAM',
                        backgroundColor: '#e6b239',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [5, 22, 47, 69, 19, 12, 7]
                    },
                    {
                        label: 'ASSY',
                        backgroundColor: '#db3b32',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [9, 33, 87, 46, 7, 44, 13]
                    },
                    {
                        label: 'CKEN',
                        backgroundColor: '#1d4180',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [15, 76, 13, 24, 7, 63, 2]
                    },
                    {
                        label: 'DKEN',
                        backgroundColor: '#929aa8',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [7, 9, 36, 4, 52, 21, 38]
                    }
                ]
            }


            var barChartCanvas = $('#bar-chart').get(0).getContext('2d')
            //var barChartData = $.extend(true, {}, areaChartData)

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            }

            new Chart(barChartCanvas, {
                type: 'bar',
                data: areaChartData,
                options: barChartOptions,
                outerWidth: 500
            })
        
        });
    </script>
}