
@{
    ViewBag.Title = "SPC chart";
}

<style>
    .card-title {
        font-size: 30px;
        font-weight: 900;
    }

    table {
        box-shadow: 2px 2px 2px #999;
    }

    .card {
        box-shadow: 2px 2px 2px #999;
        background-color: #c3cadb;
    }

    .my-control {
        display: initial;
        width: 80%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/buttonStyleCRUD.css">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
</head>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">SPC Trend Chart</h3>
                        </div>
                        <div id="srcDiv1" class="card-body">
                            <span style="font-size:8px;font-weight:700" class="text-danger">*請先選擇區間、樓層、chartgrade</span>
                            <div class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-lg-1">
                                    <label class="col-form-label">查詢區間：</label>
                                </div>
                                <div class="col-lg-4">
                                    <input id="dateRange" class="my-control" name="datepicker" value="" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">樓層：</label>
                                </div>
                                <div class="col-lg-1">
                                    <select id="selFloor" class="custom-select" style="width:60%" asp-items="@(SelectList)ViewBag.Floor">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">chartgrade：</label>
                                </div>
                                <div class="col-lg-1">
                                    <select id="selCG" class="custom-select" style="width:60%" asp-items="@(SelectList)ViewBag.ChartGrade">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">Node：</label>
                                </div>
                                <div class="col-lg-2">
                                    <select id="selNode" class="custom-select select2bs4" style="width:60%" asp-items="@(SelectList)ViewBag.StatusList">
                                    </select>
                                </div>
                            </div>
                            <div id="srcDiv" class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-lg-1">
                                    <label class="col-form-label">EQP：</label>
                                </div>
                                <div class="col-lg-2">
                                    <select id="selEQ" class="custom-select select2bs4" style="width:60%" asp-items="@(SelectList)ViewBag.StatusList">
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">Prod ID：</label>
                                </div>
                                <div class="col-lg-3">
                                    <select id="selProd" class="custom-select select2bs4" style="width:80%">
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">測項：</label>
                                </div>
                                <div class="col-lg-3">
                                    <select id="selGroup" class="custom-select select2bs4" style="width:80%" asp-items="@(SelectList)ViewBag.TestItemOptions">
                                        @*<option value=""></option>*@
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <input class="btn btn-info" type="button" name="btn29" value="查詢" onclick="btnClickSearch()" />
                                </div>
                            </div>
                            <input id="floor" type="hidden" value="" />
                            <input id="chartgrade" type="hidden" value="" />
                            <input id="selDate" type="hidden" value="" />
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <!-- CHARTS -->
    <script src="~/lib/echarts/echarts.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        var _mainsOptions = [];
        var _filterOptions = [];

        $(function () {
            $('input[name="datepicker"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour').add(-24, 'hour'),
                endDate: moment().startOf('hour'),
                locale: {
                    format: 'yyyy/MM/DD HH:mm'
                }
            });

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

        let myFuc = {
            SearchChart() {

                var validaMsg = '';

                if ($("#dateRange").val() == "") {
                    validaMsg = '日期區間必填\n';
                }

                if (($("#selEQ").val() == "" || $("#selEQ").val() == null) &&
                    ($("#selProd").val() == "" || $("#selProd").val() == null) &&
                    ($("#selGroup").val() == "" || $("#selGroup").val() == null)) {
                    validaMsg += 'EQ、Prod、測項 擇一填';
                }
                if (validaMsg != '') {
                    alert(validaMsg);
                    return false;
                }

                $.blockUI({
                    message: '<img src="./img/Pac_Man.gif" />',
                    css: {
                        borderWidth: '0px',
                        backgroundColor: 'transparent'
                    }
                });

                $.ajax({
                    url: "./SPCReport/Search?floor=" + $("#selFloor").val() + "&chartgrade=" + $("#selCG").val() + "&dateRange=" + $("#dateRange").val() + "&eqpId=" + $("#selEQ").val() + "&prodId=" + $("#selProd").val() + "&dataGroup=" + $("#selGroup").val(),
                    type: "GET",
                    dataType: 'html',
                    success: function (result) {
                        $.unblockUI();
                        if (isJsonString(result)) {
                            var _res = JSON.parse(result);
                            if (result == '""') {
                                alert('查無資料');
                            }
                            if ('isException' in _res) {
                                alert(_res.msg);
                                return false;
                            }
                        }
                        else {
                            $("#sample_wrapper").remove();
                            $("#srcDiv").after(result);
                            $('#sample').DataTable({
                                "responsive": false
                                , "lengthChange": true
                                , "autoWidth": false
                                , "order": [[0, "asc"]]
                                /*,"buttons": ["excel", "colvis"]*/
                            }).buttons().container().appendTo('#sample_wrapper .col-md-6:eq(0)');

                            $("#floor").val($("#selFloor").val());
                            $("#chartgrade").val($("#selCG").val());
                            $("#selDate").val($("#dateRange").val());
                        }
                    }
                });
            },
            DatetimeFormate(dt) {
                var date = new Date(dt);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10) {
                    day = '0' + day;
                }
                return year + '/' + month + '/' + day;
            },
            SetOtherOptions(floor, chartgrade) {
                $.ajax({
                    url: "./SPCReport/GetMainOptions?floor=" + floor + "&chartgrade=" + chartgrade,
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        $.unblockUI();
                        if (isJsonString(result)) {
                            var _res = JSON.parse(result);
                            if (result == '""') {
                                alert('查無資料');
                            }
                            if ('isException' in _res) {
                                alert(_res.msg);
                                return false;
                            }
                        }
                        else {
                            _mainsOptions = result;
                            $('#selNode, #selEQ, #selProd, #selGroup').empty();
                            $("<option></option>").attr("value", "").text('　').appendTo($('#selNode'));
                            result.reduce(function (item, option) {
                                return myFuc.OptionReduce(item, option, 'proC_ID', 'proC_ID', '#selNode');
                            }, {});

                            $("<option></option>").attr("value", "").text('　').appendTo($('#selEQ'));
                            result.reduce(function (item, option) {
                                return myFuc.OptionReduce(item, option, 'peqpT_ID', 'peqpT_ID', '#selEQ');
                            }, {});

                            $("<option></option>").attr("value", "").text('　').appendTo($('#selProd'));
                            result.reduce(function (item, option) {
                                return myFuc.OptionReduce(item, option, 'pecd', 'pecd', '#selProd');
                            }, {});

                            $("<option></option>").attr("value", "").text('　').appendTo($('#selGroup'));
                            result.reduce(function (item, option) {
                                return myFuc.OptionReduce(item, option, 'dataGroup', 'dataGroup', '#selGroup');
                            }, {});
                        }
                    }
                });
            },
            OptionReduce(item, option, propId, propName, optionId) {
                if (item[option[propId]] == null) {
                    $("<option></option>").attr("value", option[propId]).text(option[propName]).appendTo($(optionId));
                }
                (item[option[propId]] = item[option[propId]] || []).push(option);
                return item;
            }
        }


        $("#selFloor").change(function (e) {
            let floorSelected = $("#selFloor").find(":selected").val();
            let chartgradeSelected = $("#selCG").find(":selected").val();
            if (floorSelected != "" && chartgradeSelected != "") {
                myFuc.SetOtherOptions(floorSelected, chartgradeSelected);
            }
        });

        $("#selCG").change(function (e) {
            let floorSelected = $("#selFloor").find(":selected").val();
            let chartgradeSelected = $("#selCG").find(":selected").val();
            if (floorSelected != "" && chartgradeSelected != "") {
                myFuc.SetOtherOptions(floorSelected, chartgradeSelected);
            }
        });

        $("#selNode").change(function (e) {
            let nodeSelector = $("#selNode").find(":selected").val();
            let eqSelector = $("#selEQ").find(":selected").val();
            let prodSelector = $("#selProd").find(":selected").val();
            let dGroupSelector = $("#selGroup").find(":selected").val();

            $('#selEQ, #selProd, #selGroup').empty();

            if (e.currentTarget.value == "") {
                _filterOptions = _mainsOptions;
            }
            else if (e.currentTarget.value != "") {
                _filterOptions = _mainsOptions.filter(function (option) {
                    return option.proC_ID == e.currentTarget.value;
                });
            }

            $("<option></option>").attr("value", "").text('　').appendTo($('#selEQ'));
            _filterOptions.reduce(function (item, option) {
                return myFuc.OptionReduce(item, option, 'peqpT_ID', 'peqpT_ID', '#selEQ');
            }, {});
            var _test = $("#selEQ");
            $("#selEQ").val(eqSelector);

            $("<option></option>").attr("value", "").text('　').appendTo($('#selProd'));
            _filterOptions.reduce(function (item, option) {
                return myFuc.OptionReduce(item, option, 'pecd', 'pecd', '#selProd');
            }, {});
            $("#selProd").val(prodSelector);

            $("<option></option>").attr("value", "").text('　').appendTo($('#selGroup'));
            _filterOptions.reduce(function (item, option) {
                return myFuc.OptionReduce(item, option, 'dataGroup', 'dataGroup', '#selGroup');
            }, {});
            $("#selGroup").val(dGroupSelector);

        });

        function btnClickSearch() {
            myFuc.SearchChart();
        }

        function detailClick(e) {
            var _rowData = e.parentElement.parentElement.children;
            window.open("./SPCReport/Detail?floor=" + $("#floor").val() + "&chartgrade=" + $("#chartgrade").val() + "&dateRange=" + $("#dateRange").val() + "&eqpId=" + _rowData[4].innerHTML + "&prodId=" + _rowData[6].innerHTML + "&dataGroup=" + _rowData[5].innerHTML, '_blank');
        }

    </script>
}