@model MOD4.Web.ViewModel.MonitorViewModel

@{
    Layout = null;
}

<style>
    /*
        @@keyframes blink-smooth {
            to {
                color: transparent;
            }
        }

        @@keyframes blink {
            50% {
                color: transparent;
            }
        }

        area[name='assyVCS'] {
            font-size: 48px;
            animation: 2s blink 3 steps(1);
            border: 1rem solid;
        }
    */

    /*.card-body {
        position: relative;
    }

        .card-body > div {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            opacity: 0;
            filter: alpha(opacity=0);*/
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    /*-webkit-animation: silder 15s linear infinite;
            animation: silder 15s linear infinite;
        }*/

    /*動畫關鍵影格*/
    /*@@-webkit-keyframes silder {
        3% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        27% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        30% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @@keyframes silder {
        3% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        27% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        30% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }*/
    /*每個圖片各延遲5秒*/
    /*.card-body > div:nth-child(3) {
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
    }

    .card-body > div:nth-child(2) {
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
    }

    .card-body > div:nth-child(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }*/
    /*滑入時停止播放*/
    /*.card-body:hover > div {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }*/


    .bg-theme {
        /*background-image: url('./img/monitorBG.png');*/
        line-height: 1.15;
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-position: 0 0 / cover;
        background-color: #101129; /* 101129  ff5000 */
    }

    div[name='mapDiv'] {
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: repeating-conic-gradient(from var(--a),#e8e8e8 0%,#e8e8e8 5%,transparent 5%,transparent 40%,#e8e8e8 50%);
        animation: animate 10s linear infinite;
    }

    @@property --a {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }

    @@keyframes animate {
        0% {
            --a: 0deg;
        }

        100% {
            --a: 360deg;
        }
    }


    img[usemap='#veg'] {
        /*width: 100%;*/
        height: 98%;
        object-fit: cover;
    }

    td {
        font-size: 8px;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    div[name='card'] {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(0,0,0,.2);
    }

    div[name='cHeader'] {
        color: white;
        font-weight: 600;
        /*text-align: center;*/
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
    }

        div[name='cHeader'] a {
            font-size: 20px;
        }

    td {
        color: white;
    }

    .panel {
        /* 边框 */
        box-sizing: border-box;
        border: 2px solid red;
        border-image: url('./img/border.png') 51 38 21 132;
        border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
        position: relative;
        margin-bottom: 0.833rem;
    }

        .panel .inner {
            /* 装内容 */
            /* height: 60px; */
            position: absolute;
            top: -2.125rem;
            right: -1.583rem;
            bottom: -0.875rem;
            left: -5.5rem;
            padding: 1rem 1.5rem;
        }

    .monitor {
        height: 90%;
    }

        .monitor .inner {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
        }
</style>

<head>
    <link rel="icon" href="~/img/carux_logo_n.ico" type="image/x-icon" sizes="16x16" />
    <title>CarUX監控看板👁</title>
    <link rel="stylesheet" href="~/img/monitorBG.png">
    <link rel="stylesheet" href="~/img/border.png">
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/app-style.css">*@
</head>

<body class="bg-theme">
    <div class="card-header" style="height: 8%;text-align:center">
        @*<h2 style="color: white; font-weight: 600; font-style: italic;">監控看板</h2>*@
        <img class="titleImg" style="width:80%" src="~/img/titleTransparent_1.png" />
    </div>
    <partial name="_PartialClock" />
    <div class="card-body" style="height: 92%;">
        <div name="alaemMap">
            <div style="height: 8%;">
                <h3 style="color: white;font-family:'Trebuchet MS'">Factory map</h3>
            </div>
            <div style="display: flex; height: 55%;">
                <div name="mapDiv">
                    @*<div name="mapDiv" style="display: flex; justify-content: center; align-items: center; overflow: hidden">*@
                    @*<div style="clear: both; width: 500px; height: 50px; border: 1px solid black;" id="selections"></div>*@
                    <img id="fabLayout2" src="~/img/FabLayout2F.png" usemap="#veg">
                    <map id="veg_map" name="veg">
                        <area alt="AOLB2010" shape="poly" name="AOLB2010" coords="209,129,  866,129, 866,174, 209,174" href="#">
                        <area alt="AFOG2010" shape="poly" name="AFOG2010" coords="97,278, 486,278, 486,310, 97,310" href="#">
                        <area alt="CLAM2010" shape="poly" name="CLAM2010" coords="510,289, 694,289, 694,316, 510,316" href="#">
                        <area alt="OCAH2210" shape="poly" name="OCAH2210" coords="97,332, 175,332, 175,324, 495,324, 495,332, 575,332, 575,356, 97,356" href="#">
                        <area alt="OCAH2010" shape="poly" name="OCAH2010" coords="545,214 ,1011,214, 1011,259, 545,259" href="#">

                        <area alt="ff2HTH55" shape="poly" name="ff2HTH55" coords="148,390, 436,390, 436,383, 650,383, 650,427, 376,427, 376,444, 148,444" href="#">
                        <area alt="ff2STH55" shape="poly" name="ff2STH55" coords="675,393, 700,393, 700,400, 769,400, 769,396, 845,396, 845,431, 832,431, 832,439, 763,439, 763,431, 675,431" href="#">

                        <area alt="ASSY2010" shape="poly" name="ASSY2010" coords="886,137 ,993,137, 993,121, 1023,121, 1023,156 , 1210,156, 1210,146, 1275,146, 1275,165, 1320,165, 1321,176, 886,176" href="#">
                        <area alt="AISC2020" shape="poly" name="AISC2020" coords="870,385, 1158,385, 1158,396, 870,396" href="#">
                        <area alt="BASY2010" shape="poly" name="BASY2010" coords="870,422, 1092,422, 1092,412, 1126,412, 1126,432, 1148,432, 1148,422, 1167,422, 1167,432, 1207,432, 1207,445, 870,455" href="#">
                    </map>
                    @*</div>*@
                </div>
                <div class="box" style="width: 25%; margin-left: 5px">

                    <div name="cHeader" style="background-color: rgba(134, 29, 204,.3); left: 85%;">
                        <a>Info</a>
                    </div>
                    <div class="monitor panel">
                        <div class="inner" style="align-items: center; justify-content: start; margin-top:10%">
                            <div id="areaInfo" style="width: 100%; height: 100%;">
                                @*<div style="color: white; display: flex; height: 15%;">
                                        <div class="col-4" style="font-size: 18px;">Area：</div>
                                        <div class="col-6" style="font-size: 18px;">Assy</div>
                                    </div>
                                    <div style="color: white; display: flex; height: 15%;">
                                        <div class="col-4" style="font-size: 18px;">EQ no：</div>
                                        <div class="col-6" style="font-size: 18px;">ASSY2010</div>
                                    </div>
                                    <div style="color: white; display: flex; height: 15%;">
                                        <div class="col-4" style="font-size: 18px;">機種：</div>
                                        <div class="col-6" style="font-size: 18px;">GDD340IA0090S</div>
                                    </div>
                                    <div style="color: white; display: flex; height: 15%;">
                                        <div class="col-4" style="font-size: 18px;">Pass 量：</div>
                                        <div class="col-6" style="font-size: 18px;">300</div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; height: 37%; margin-top: 10px;">
                <div style="width: 35%; height: 103%; margin-right: 5px;">
                    <div name="cHeader" style="background-color: rgba(184, 82, 18,.3); left: 15%; ">
                        <a>前段異常</a>
                    </div>
                    <div class="monitor panel">
                        <div class="inner" style="align-items: center; justify-content: end;">
                            <div style="overflow-y: auto; overflow-x: hidden; width: 95%; height: 85%;">
                                <table class="table">
                                    <tbody>
                                        @{
                                            foreach (var alarm in Model.AlarmList.Where(w => w.IsFrontEnd))
                                            {
                                                <tr>
                                                    <td>@alarm.ProdNo</td>
                                                    <td>@alarm.EqNumber</td>
                                                    <td>@alarm.Comment</td>
                                                    <td>@alarm.StartTime</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->
                <div style="width: 35%; height: 103%; margin-right: 5px;">
                    <div name="cHeader" style="background-color: rgba(134, 29, 204,.3); left: 49%;">
                        <a>後段異常</a>
                    </div>
                    <div class="monitor panel">
                        <div class="inner" style="align-items: center; justify-content: end;">
                            <div style="overflow-y: auto; overflow-x: hidden; width: 95%; height: 85%; ">
                                <table class="table">
                                    <tbody>
                                        @{
                                            foreach (var alarm in Model.AlarmList.Where(w => !w.IsFrontEnd))
                                            {
                                                <tr>
                                                    <td>@alarm.ProdNo</td>
                                                    <td>@alarm.EqNumber</td>
                                                    <td>@alarm.Comment</td>
                                                    <td>@alarm.StartTime</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->
                <div style="width: 30%; height: 103%;">
                    <div name="cHeader" style="background-color: rgba(81, 214, 86,.3); left: 82%;">
                        <a>本日 TOP</a>
                    </div>
                    <div class="monitor panel">
                        <div class="inner" style="align-items: center; justify-content: end;">
                            <div style="overflow-y: auto; overflow-x: hidden; width: 95%; height: 85%; ">
                                <table class="table">
                                    <tbody>
                                        @{
                                            foreach (var alarmTop in Model.AlarmDayTop)
                                            {
                                                <tr>
                                                    <td>@alarmTop.ProdNo</td>
                                                    <td>@alarmTop.EqNumber</td>
                                                    <td>@alarmTop.Comment</td>
                                                    <td>@alarmTop.RepairedTime</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->
            </div>
        </div>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/popper/popper_v3.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/js/jquery.imagemapster.js"></script>
<script>
    var image = $('#fabLayout2');

    var areaDic = {
        AOLB2010: {
            area: 'BOND',
            eq: 'AOLB2010',
            desc: 'bondVCS',
            bgColor: 'b85212'
        },
        AFOG2010: {
            area: 'FOG',
            eq: 'AFOG2010',
            desc: 'FOG',
            bgColor: '4a4a4a'
        },
        CLAM2010: {
            area: 'LAM',
            eq: 'CLAM2010',
            desc: 'ff2STH',
            bgColor: '157ac2'
        },
        OCAH2210: {
            area: 'LAM',
            eq: 'OCAH2210',
            desc: 'HTHSTH20',
            bgColor: '157ac2'
        },
        OCAH2010: {
            area: 'LAM',
            eq: 'OCAH2010',
            desc: 'ocaVCS',
            bgColor: '157ac2'
        },
        ff2HTH55: {
            area: 'LAM',
            eq: '',
            desc: 'ff2HTH55',
            bgColor: '157ac2'
        },
        ff2STH55: {
            area: 'LAM',
            eq: '',
            desc: 'ff2STH55',
            bgColor: '157ac2'
        },
        ASSY2010: {
            area: 'ASSY',
            eq: 'ASSY2010',
            desc: 'assyVCS',
            bgColor: '861dcc'
        },
        AISC2020: {
            area: 'ASSY',
            eq: 'AISC2020',
            desc: 'assyPaDi',
            bgColor: '861dcc'
        },
        BASY2010: {
            area: 'ASSY',
            eq: 'BASY2010',
            desc: 'assyPana',
            bgColor: '861dcc'
        },
    };

    var _prodPerInfo = [];

    var _options = {
        fillOpacity: 0.1,
        /*fillColor: "2fc44f",*/
        //stroke: true,
        //strokeColor: "2fc44f",
        //strokeOpacity: 0.8,
        /*strokeWidth: 3,*/
        singleSelect: false,
        mapKey: 'name',
        listKey: 'name',
        isSelectable: false,
        onMouseover: function (data) {
            var _currEq = _prodPerInfo.filter(prod => prod.eqNumber == data.key);
            if (_currEq.length == 0) {
                _currEq = [{
                    prodNo: '',
                    passQty: ''
                }];
            }

            $('#areaInfo').html('<div style="color: white; display: flex; height: 15%;">' +
                '<div class="col-4" style="font-size: 18px;">Area：</div>' +
                '<div class="col-6" style="font-size: 18px;">' + areaDic[data.key].area + '</div>' +
                '</div>' +
                '<div style="color: white; display: flex; height: 15%;">' +
                '<div class="col-4" style="font-size: 18px;">EQ no：</div>' +
                '<div class="col-6" style="font-size: 18px;">' + areaDic[data.key].eq + '</div>' +
                '</div>' +
                '<div style="color: white; display: flex; height: 15%;">' +
                '<div class="col-4" style="font-size: 18px;">機種：</div>' +
                '<div class="col-6" style="font-size: 18px;">' + _currEq[0].prodNo + '</div>' +
                '</div>' +
                '<div style="color: white; display: flex; height: 15%;">' +
                '<div class="col-4" style="font-size: 18px;">Pass 量：</div>' +
                '<div class="col-6" style="font-size: 18px;">' + _currEq[0].passQty + '</div>' +
                '</div>');
        },
        onMouseout: function (data) {
            $('#areaInfo').empty();
        },
        onClick: function (e) {
            var newToolTip = defaultDipTooltip;

            // update text depending on area selected
            //$('#selections').html(xref[e.key]);

            // if Asparagus selected, change the tooltip
            if (e.key === 'asparagus') {
                newToolTip = "OK. I know I have come down on the dip before, but let's be real. "
                    + "Raw asparagus without any of that delicious ranch and onion dressing "
                    + "slathered all over it is not so good.";
            }
            image.mapster('set_options', {
                areas: [{
                    key: "dip",
                    toolTip: newToolTip
                }]
            });
        },
        showToolTip: true,
        toolTipClose: ["tooltip-click", "area-click"],
        areas: [
            {
                key: "AOLB2010",
                /*fillColor: "d42e16",*/
                stroke: true,
                strokeColor: "b85212",
                /*strokeOpacity: 0.8,*/
                strokeWidth: 3,
                selected: true
            },
            {
                key: "AFOG2010",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "4a4a4a",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "CLAM2010",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "157ac2",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "OCAH2210",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "157ac2",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "OCAH2010",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "157ac2",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "ff2HTH55",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "157ac2",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "ff2STH55",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "157ac2",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {

                key: "ASSY2010",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "861dcc",
                strokeOpacity: 1,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "AISC2020",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "861dcc",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
            {
                key: "BASY2010",
                //fillColor: "d42e16",
                stroke: true,
                strokeColor: "861dcc",
                //strokeOpacity: 0.8,
                strokeWidth: 3,
                selected: true
            },
        ]
    };

    image.mapster(_options);

    $("#btnTest").on('click', function (e) {
        //$("area[name='assyVCS']").mapster('select');
        //$("area[name='ocaVCS']").mapster('select');
        image.mapster('highlight', false);
        _options.areas.push({
            key: "assyVCS",
            fillColor: "d42e16",
            strokeColor: "d42e16",
            toolTip: '123321',
            isDeselectable: false
        });

        image.mapster('set_options', _options);
        image.mapster('set', true, 'assyVCS');
        //image.mapster('set', true, 'ocaVCS');

        //$("area[name='assyVCS']").mapster('set', true, {
        //    isSelectable: false
        //});
        //$("area[name='ocaVCS']").mapster('set', true, {
        //    selected: true
        //});

        //$("area[name='assyVCS']").animate({ opacity: 0.5 }, 2000, function () {
        //    // 動畫結束後的處理程式碼（可選）
        //    // 這裡的示範是將透明度恢復為 1
        //    $(this).animate({ opacity: 1 }, 500);
        //});
        //image.mapster('highlight', "assyVCS");
        //image.mapster('highlight', "ocaVCS");
    });

    var server = 'ws://127.0.0.1:80'; //如果开启了https则这里是wss
    var vWebSocket = null;
    window.onload = function () {
        //建立一個web socket 連線
        vWebSocket = new WebSocket(server + '/CarUX/send');

        //如果連線成功
        vWebSocket.onopen = function (e) {
            console.log('connection start ...');
        }

        //接收到訊息時
        vWebSocket.onmessage = function (e) {
            console.log('Recevied Message:' + e.data);
            if (e.data) {
                var msgArray = e.data.split('\t');
                var _response = JSON.parse(msgArray[msgArray.length - 1]);
                /*alarmArea(_response);*/
                alert(_response.Area);
            }
        }
    }

    $(function (e) {
        var _model = @(Html.Raw(Json.Serialize(Model)));
        _prodPerInfo = _model.prodPerInfo;
        $.each(_model.alarmList, function (idx, alarmData) {
            alarmArea(alarmData);
        });

        // reload
        window.setInterval('refresh()', 60000);
    });

    function refresh() {
        window.location.reload();
    }


    function alarmArea(areaObj) {

        var areaIdx = _options.areas.findIndex((obj => obj.key == areaObj.eqNumber));

        image.mapster('set', false, areaObj.eqNumber);

        if (areaObj.isAbnormal) {

            _options.areas[areaIdx] = {
                key: areaObj.eqNumber,
                fillOpacity: 0.6,
                fillColor: "e00000",
                stroke: true,
                strokeColor: "e00000",
                strokeOpacity: 1,
                strokeWidth: 3,
                selected: true,
                toolTip: areaObj.comment,
                toolTipClose: ['image-mouseout']
            };
        }
        else {
            _options.areas[areaIdx] = {
                key: areaObj.eqNumber,
                stroke: true,
                strokeColor: areaDic[areaObj.eqNumber],
                strokeOpacity: 0.8,
                strokeWidth: 3,
                toolTip: null
            };
        }

        image.mapster('set_options', _options);
        image.mapster('set', true, areaObj.eqNumber);

        //map.mapster('unbind')
        //    .mapster(opts)
        //    .bind('mouseover', function () {
        //        if (!inArea) {
        //            map.mapster('set_options', all_opts)
        //                .mapster('set', true, 'all')
        //                .mapster('set_options', single_opts);
        //        }
        //    }).bind('mouseout', function () {
        //        alert('show');
        //    });


    }
</script>