
@{
}

<style>
    .roundMinus {
        background-color: #d61529;
        color: white;
        border: 2px solid white;
        font-size: 26px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 30px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 70%;
    }

        .roundMinus:hover {
            background-color: #d6606d;
        }

        .roundMinus:active {
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }

    .roundDisabledMinus {
        background-color: #d6606d;
        color: white;
        border: 2px solid white;
        font-size: 26px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 30px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 70%;
    }

    .addPlus {
        background-color: #40cf30;
        color: white;
        border: 2px solid white;
        font-size: 15px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 30px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 70%;
    }

        .addPlus:hover {
            background-color: #7fc777;
        }

        .addPlus:active {
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }

    .addDisabledPlus {
        background-color: #7fc777;
        color: white;
        border: 2px solid white;
        font-size: 15px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 30px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 70%;
    }

    .cusButton {
        background-color: #4e83d9;
        color: white;
        border: 2px solid white;
        font-size: 16px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 50px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 13%;
    }

        .cusButton:hover {
            background-color: #819dcc;
        }

        .cusButton:active {
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }

    .cusDisabledButton {
        background-color: #819dcc;
        color: white;
        border: 2px solid white;
        font-size: 16px;
        padding: 0px;
        font-weight: 900;
        height: 30px;
        width: 50px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 13%;
    }

    td[name='tdLabel'] {
        background: #91bac4;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        width: 10%;
    }

    td[name="tdImp"] {
        text-align: center;
        vertical-align: middle;
    }

    .setting {
        color: white;
        background: #9a9ca1;
    }

    li[name="myTmpli"] {
    }

    li:has(.setting.active) {
    }

    .setting.active {
        color: black;
        background: #c3cadb;
        border-top: 1px solid #9a9ca1;
        /*border-right: 2px solid #9a9ca1;
        border-left: 2px solid #9a9ca1;*/
    }
</style>

<head>
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
</head>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card" id="app">
                <div class="card-header">
                    <h3 class="card-title">參數設定</h3>
                </div>
                <ul class="nav" style="background: #c3cadb">
                    <li name="myTmpli" style="width: 50%; text-align: center;">
                        <a class="nav-link setting active" href="#tt" data-toggle="tab" style="font-weight: 600;">T.T.</a>
                    </li>
                    <li name="myTmpli" style="width: 50%; text-align: center;">
                        <a class="nav-link setting" href="#mapArea" data-toggle="tab" style=" font-weight: 600; ">MAP 區域設定</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tt" class="tab-pane card-body active">
                        <div class="col-lg-5">
                            <h3>{{prodTitle}}</h3>
                        </div>
                        <br />
                        <div class="d-flex">
                            <div class="col-lg-6">
                                <button :class="pageTTBtnClass.editBtn" @@click="editTTClk" :disabled="!ttColDisabled">編輯</button>
                                <button :class="pageTTBtnClass.cancelBtn" @@click="cancelProdTTClk" :disabled="ttColDisabled">取消</button>
                                <button :class="pageTTBtnClass.saveBtn" @@click="saveProdTTClk" :disabled="ttColDisabled">儲存</button>
                            </div>
                            <div class="col-lg-2">
                                <label class="col-form-label">機種選擇：</label>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control select2bs4" style="width: 350px;" v-model="ttProdSelect" @@change="prodChange">
                                    <optgroup v-for="prod in prodOptions" :label="prod.Item1">
                                        <option v-for="detail in prod.Item2" :value="detail.Item1">{{detail.Item2}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div>
                            <div style="overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; display: block;">
                                <table class="table">
                                    <tbody v-for="(prodTT, idx) in editProdTTSettingTmp">
                                        <tr>
                                            <td style="display: flex; flex-direction: column; align-items: center; ">
                                                @*<button :class="pageTTBtnClass.deleteBtn" @@click="deleteClk(idx)" :disabled="ttColDisabled">⁻</button>
                                                    <input type="hidden" :value="idx" />*@
                                            </td>
                                            <td></td>
                                            <td name="tdLabel">站點</td>
                                            <td name="tdImp">
                                                <select class="myInputStyle1" disabled v-model="editProdTTSettingTmp[idx].node" :value="prodTT.node">
                                                    <option v-for="node in nodeOptions" :value="node.id">{{node.id}}</option>
                                                </select>
                                            </td>
                                            <td name="tdLabel">EQ</td>
                                            <td name="tdImp">
                                                @*<select class="myInputStyle1" :disabled="ttColDisabled" v-model="editProdTTSettingTmp[idx].downEquipment" :value="prodTT.downEquipment">
                                                        <option v-for="eq in prodTT.downEqOptions" :value="eq.equiP_NBR">{{eq.equiP_NBR}}</option>
                                                    </select>*@
                                                <input class="myInputStyle1" type="text" style="width: 150px; text-align: right;" placeholder="ex：XXXX2030" :disabled="ttColDisabled" v-model="editProdTTSettingTmp[idx].downEquipment" :value="prodTT.downEquipment" />
                                            </td>
                                            <td name="tdLabel">T.T.</td>
                                            <td>
                                                <input class="myInputStyle1" type="number" style="width: 100px; text-align: right;" placeholder="ex:50" :disabled="ttColDisabled" v-model="editProdTTSettingTmp[idx].timeTarget" :value="prodTT.timeTarget" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*<button :class="pageTTBtnClass.addBtn" @@click="addProdTTClk" :disabled="ttColDisabled">＋</button>*@
                        </div>
                    </div>


                    <div id="mapArea" class="tab-pane card-body">
                        <div>
                            <div class="d-flex">
                                <div class="col-md-1">
                                    <button :class="pageMapAreaBtnClass.editBtn" @@click="editMapAreaClk" :disabled="!mapColDisabled">編輯</button>
                                </div>
                                <div class="col-md-1">
                                    <button :class="pageMapAreaBtnClass.cancelBtn" @@click="cancelMapAreaClk" :disabled="mapColDisabled">取消</button>
                                </div>
                                <div class="col-md-1">
                                    <button :class="pageMapAreaBtnClass.saveBtn" @@click="saveMapAreaClk" :disabled="mapColDisabled">儲存</button>
                                </div>
                            </div>
                            <div style="overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; display: block; margin-top: 10px;">
                                <table class="table">
                                    <tbody v-for="(mapSetting, idx) in editMapSettingTmp">
                                        <tr>
                                            <td style="display: flex; flex-direction: column; align-items: center; ">
                                                <button :class="pageMapAreaBtnClass.deleteBtn" @@click="deleteClk(idx)" :disabled="mapColDisabled">⁻</button>
                                                <input type="hidden" :value="idx" />
                                            </td>
                                            <td></td>
                                            @*<td name="tdLabel">站點</td>
                                                <td name="tdImp">
                                                    <select class="myInputStyle1" :disabled="mapColDisabled" v-model="editMapSettingTmp[idx].node" :value="mapSetting.node">
                                                        <option v-for="node in nodeOptions" :value="node.id">{{node.id}}</option>
                                                    </select>
                                                </td>*@
                                            <td name="tdLabel">EQ</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="text" style="width: 150px; text-align: right;" placeholder="ex：XXXX2030" :disabled="mapColDisabled" v-model="editMapSettingTmp[idx].eqNumber" :value="mapSetting.eqNumber" />
                                                @*<select class="myInputStyle1" :disabled="mapColDisabled" v-model="editMapSettingTmp[idx].eqNumber" :value="mapSetting.eqNumber">
                                                        <option value="AOLB2010">AOLB2010</option>
                                                        <option value="AFOG2010">AFOG2010</option>
                                                        <option value="CLAM2010">CLAM2010</option>
                                                        <option value="ASSY2010">ASSY2010</option>
                                                    </select>*@
                                            </td>
                                            <td name="tdLabel">背景色</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="color" style="width: 150px; text-align: right;" v-model="editMapSettingTmp[idx].background" :disabled="mapColDisabled" :value="mapSetting.background" />
                                            </td>
                                            <td name="tdLabel">外框色</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="color" style="width: 100px; text-align: right;" v-model="editMapSettingTmp[idx].border" :disabled="mapColDisabled" :value="mapSetting.border" />
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:2px solid grey">
                                            <td name="tdLabel">左上x座標</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="number" style="width: 100px; text-align: right;" placeholder="ex:456" v-model="editMapSettingTmp[idx].locX0" :disabled="mapColDisabled" :value="mapSetting.locX0" />
                                            </td>
                                            <td name="tdLabel">左上y座標</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="number" style="width: 100px; text-align: right;" placeholder="ex:210" v-model="editMapSettingTmp[idx].locY0" :disabled="mapColDisabled" :value="mapSetting.locY0" />
                                            </td>
                                            <td name="tdLabel">右下x座標</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="number" style="width: 100px; text-align: right;" placeholder="ex:789" v-model="editMapSettingTmp[idx].locX1" :disabled="mapColDisabled" :value="mapSetting.locX1" />
                                            </td>
                                            <td name="tdLabel">右下y座標</td>
                                            <td name="tdImp">
                                                <input class="myInputStyle1" type="number" style="width: 100px; text-align: right; " placeholder="ex:281" v-model="editMapSettingTmp[idx].locY1" :disabled="mapColDisabled" :value="mapSetting.locY1" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button :class="pageMapAreaBtnClass.addBtn" @@click="addMapAreaClk" :disabled="mapColDisabled">＋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        const vue = new Vue({
            el: "#app",
            data: {
                pageTTBtnClass: {
                    editBtn: 'cusButton',
                    cancelBtn: 'cusDisabledButton',
                    saveBtn: 'cusDisabledButton',
                    deleteBtn: 'roundDisabledMinus',
                    addBtn: 'addDisabledPlus',
                },
                pageMapAreaBtnClass: {
                    editBtn: 'cusButton',
                    cancelBtn: 'cusDisabledButton',
                    saveBtn: 'cusDisabledButton',
                    deleteBtn: 'roundDisabledMinus',
                    addBtn: 'addDisabledPlus',
                },
                ttColDisabled: true,
                mapColDisabled: true,
                nodeOptions: @(Html.Raw(Json.Serialize(ViewBag.NodeOptions))),
                prodOptions: null,
                eqOptions: null,
                origProdTTSettingDatas: [],
                editProdTTSettingTmp: [],
                origMapSettingDatas: [],
                editMapSettingTmp: [],
                ttProdSelect: 1206,
                prodTitle: 'GDD340IA0090S-34VCS',
                toast: Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }),
            },
            methods: {
                editTTClk() {
                    vue.pageTTBtnClass.editBtn = 'cusDisabledButton';
                    vue.pageTTBtnClass.cancelBtn = 'cusButton';
                    vue.pageTTBtnClass.saveBtn = 'cusButton';
                    vue.pageTTBtnClass.deleteBtn = 'roundMinus';
                    vue.pageTTBtnClass.addBtn = 'addPlus';
                    vue.ttColDisabled = false;
                },
                editMapAreaClk() {
                    vue.pageMapAreaBtnClass.editBtn = 'cusDisabledButton';
                    vue.pageMapAreaBtnClass.cancelBtn = 'cusButton';
                    vue.pageMapAreaBtnClass.saveBtn = 'cusButton';
                    vue.pageMapAreaBtnClass.deleteBtn = 'roundMinus';
                    vue.pageMapAreaBtnClass.addBtn = 'addPlus';
                    vue.mapColDisabled = false;
                },
                cancelProdTTClk() {
                    vue.pageTTBtnClass.editBtn = 'cusButton';
                    vue.pageTTBtnClass.cancelBtn = 'cusDisabledButton';
                    vue.pageTTBtnClass.saveBtn = 'cusDisabledButton';
                    vue.pageTTBtnClass.deleteBtn = 'roundDisabledMinus';
                    vue.pageTTBtnClass.addBtn = 'addDisabledPlus';
                    vue.ttColDisabled = true;
                    vue.editProdTTSettingTmp = JSON.parse(JSON.stringify(vue.origProdTTSettingDatas));
                },
                cancelMapAreaClk() {
                    vue.pageMapAreaBtnClass.editBtn = 'cusButton';
                    vue.pageMapAreaBtnClass.cancelBtn = 'cusDisabledButton';
                    vue.pageMapAreaBtnClass.saveBtn = 'cusDisabledButton';
                    vue.pageMapAreaBtnClass.deleteBtn = 'roundDisabledMinus';
                    vue.pageMapAreaBtnClass.addBtn = 'addDisabledPlus';
                    vue.mapColDisabled = true;
                    vue.editMapSettingTmp = JSON.parse(JSON.stringify(vue.origMapSettingDatas));
                },
                saveProdTTClk() {
                    $.ajax({
                        url: './Setting/TT',
                        type: 'POST',
                        datatype: 'json',
                        data: { prodTTSetting: vue.editProdTTSettingTmp },
                        success: function (result) {
                            if (result.isSuccess) {
                                vue.pageTTBtnClass.editBtn = 'cusButton';
                                vue.pageTTBtnClass.cancelBtn = 'cusDisabledButton';
                                vue.pageTTBtnClass.saveBtn = 'cusDisabledButton';
                                vue.pageTTBtnClass.deleteBtn = 'roundDisabledMinus';
                                vue.pageTTBtnClass.addBtn = 'addDisabledPlus';
                                vue.ttColDisabled = true;
                                vue.toast.fire({
                                    icon: 'success',
                                    title: '更新成功'
                                });
                            }
                            else {
                                vue.toast.fire({
                                    icon: 'error',
                                    title: result.msg
                                });
                            }
                        }
                    });
                },
                saveMapAreaClk() {
                    $.ajax({
                        url: './Setting/MapArea',
                        type: 'POST',
                        datatype: 'json',
                        data: { mapAreaSetting: vue.editMapSettingTmp },
                        success: function (result) {
                            if (result.isSuccess) {
                                vue.pageMapAreaBtnClass.editBtn = 'cusButton';
                                vue.pageMapAreaBtnClass.cancelBtn = 'cusDisabledButton';
                                vue.pageMapAreaBtnClass.saveBtn = 'cusDisabledButton';
                                vue.pageMapAreaBtnClass.deleteBtn = 'roundDisabledMinus';
                                vue.pageMapAreaBtnClass.addBtn = 'addDisabledPlus';
                                vue.mapColDisabled = true;
                                vue.toast.fire({
                                    icon: 'success',
                                    title: '更新成功'
                                });
                            }
                            else {
                                vue.toast.fire({
                                    icon: 'error',
                                    title: result.msg
                                });
                            }
                        }
                    });
                },
                addProdTTClk() {
                    vue.editProdTTSettingTmp.push({
                        node: 1100,
                        eqNumber: '',
                        timeTarget: 0,
                    });
                },
                addMapAreaClk() {
                    vue.editMapSettingTmp.push({
                        node: 1100,
                        eqNumber: '',
                        border: '#',
                        background: '#',
                        locX0: 0,
                        locY0: 0,
                        locX1: 0,
                        locY1: 0
                    });
                },
                deleteClk(idx) {
                    vue.editMapSettingTmp.splice(idx, 1);;
                },
                prodChange(e) {
                    $.each(vue.prodOptions, function (i, item) {
                        for (var i = 0; i < item.Item2.length; i++) {
                            if (item.Item2[i].Item1 == vue.ttProdSelect)
                                vue.prodTitle = item.Item2[i].Item2;
                        }
                    })

                    $.ajax({
                        url: "./Setting/TT/" + vue.ttProdSelect,
                        type: "GET",
                        dataType: 'json',
                        success: function (result) {
                            if (result.isSuccess) {
                                vue.origProdTTSettingDatas = JSON.parse(JSON.stringify(result.data));
                                vue.editProdTTSettingTmp = JSON.parse(JSON.stringify(result.data));
                            }
                            else {
                                vue.toast.fire({
                                    icon: 'error',
                                    title: result.msg
                                });
                            }
                        }
                    });
                }
            },
            mounted: function () {

                @*var _model = @(Html.Raw(Json.Serialize(Model)));*@

                this.prodOptions = JSON.parse(@(Html.Raw(Json.Serialize(ViewBag.ProdOptions))));
                this.eqOptions = JSON.parse(@(Html.Raw(Json.Serialize(ViewBag.EqIDMappingOption))));
                this.origProdTTSettingDatas = Array.from(@(Html.Raw(Json.Serialize(Model))).monitorProdTTList);
                this.editProdTTSettingTmp = Array.from(@(Html.Raw(Json.Serialize(Model))).monitorProdTTList);

                this.origMapSettingDatas = Array.from(@(Html.Raw(Json.Serialize(Model))).settingDetail);
                this.editMapSettingTmp = Array.from(@(Html.Raw(Json.Serialize(Model))).settingDetail);

                //$('.select2bs4').select2({
                //    theme: 'bootstrap4'
                //})
            },
            computed: {
                wrapper(node) {

                }
            }
        });

    </script>
}