@model List<MOD4.Web.ViewModel.AccessFabMainViewModel>

<table id="table1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().OrderNo)</th>
            <th>@Html.DisplayNameFor(model => model.First().Date)</th>
            <th>@Html.DisplayNameFor(model => model.First().Applicant)</th>
            <th>@Html.DisplayNameFor(model => model.First().FabInCategory)</th>
            <th>@Html.DisplayNameFor(model => model.First().FabInType)</th>
            <th>@Html.DisplayNameFor(model => model.First().Content)</th>
            <th>@Html.DisplayNameFor(model => model.First().AuditAccount)</th>
            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var order in Model)
            {
                string _color = "";
                if (order.StatusId == MOD4.Web.Enum.FabInOutStatusEnum.Rejected)
                    _color = "#e69a9a";

                <tr style="background-color: @_color ">
                    <td style="width:8%"><a href="#" onclick="orderNoClick('@order.Url',@order.OrderSn)">@order.OrderNo</a></td>
                    <td style="width:8%;font-weight:600">@order.Date</td>
                    <td style="width:8%">@order.Applicant</td>
                    <td style="width:8%">@order.FabInCategory</td>
                    <td style="width:9%">@order.FabInType</td>
                    <td style="width:12%">@order.Content</td>
                    <td style="width:8%">@order.AuditAccount</td>
                    <td style="width:7%">@order.Status</td>
                </tr>
            }
        }
    </tbody>
</table>
