@model MOD4.Web.ViewModel.AccountEditViewModel

@{
    ViewData["Title"] = "帳號編輯";
}

<style>

    .card {
        box-shadow: 1px 2px 2px 2px #999;
        margin-top: 5px;
    }

    .card-header, .card-body, .card-footer {
        background-color: #c3cadb;
    }

    .card-title {
        font-family: "Microsoft JhengHei";
        font-weight: 900;
        font-style: italic;
        font-size: 30px;
    }

    .custom-switch.custom-switch .custom-control-label {
        padding-left: 2rem;
        padding-bottom: 1.5rem;
    }

        .custom-switch.custom-switch .custom-control-label::before {
            height: 1.5rem;
            width: calc(2rem + 0.75rem);
            border-radius: 3rem;
        }

        .custom-switch.custom-switch .custom-control-label::after {
            width: calc(1.5rem - 4px);
            height: calc(1.5rem - 4px);
            border-radius: calc(2rem - (1.5rem / 2));
        }

    .custom-switch.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
        transform: translateX(calc(1.5rem - 0.25rem));
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/buttonStyle29.css">
</head>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">帳號編輯</h3>
                        </div>

                        <form id="updateForm">
                            <div class="card-body">
                                <div class="form-group" style="display:flex">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="Account"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Account" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" type="text" asp-for="Account" />
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="Password"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Password" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" style="position:relative" type="text" asp-for="Password" />
                                        @*<div>
                                                <i class="far fa-eye" id="eye"></i>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="form-group" style="display:flex">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="Name"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Name" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" type="text" asp-for="Name" />
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="JobId"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="JobId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" asp-for="JobId" value="@Model.JobId" />
                                    </div>
                                </div>
                                <div class="form-group" style="display:flex">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="LevelId"></label>
                                        <span asp-validation-for="LevelId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control" asp-for="LevelId" asp-items="@ViewBag.LevelOption"></select>
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="ApiKey"></label>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" asp-for="ApiKey" value="@Model.ApiKey" />
                                    </div>
                                </div>
                                <div class="form-group" style="display:flex">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="MODId"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="MODId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <select class="form-control" asp-for="MODId" asp-items="@(SelectList)ViewBag.DepartmentOption">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="DepartmentId"></label>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control" asp-for="DepartmentId">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <label class="col-form-label" asp-for="SectionId"></label>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control" asp-for="SectionId">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="display:flex">
                                    <div class="col-2">
                                        <label class="col-form-label" asp-for="Mail"></label>
                                        <span style="font-size:10px;font-weight:700" class="text-danger">*</span>
                                        <span asp-validation-for="Mail" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" type="email" asp-for="Mail" value="@Model.Mail" />
                                    </div>
                                </div>

                                <hr style="border-width: 3px; border-color: gray" />
                                <h4 style="font-style:italic; font-weight: 600">權限設定</h4>

                                @{
                                    int _menuCnt = 0;

                                    foreach (var menu in Model.MenuPermissionList)
                                    {
                                        string _switchId = "switch_" + @menu.MenuId.ToString();
                                        string _actionDisable = "disabled";

                                        <div style="display:flex">
                                            <div class="col-2 custom-control custom-switch custom-switch">
                                                @{
                                                    if (menu.IsMenuActive)
                                                    {
                                                        <input class="custom-control-input" type="checkbox" checked asp-for="@Model.MenuPermissionList[_menuCnt].IsMenuActive" id="@_switchId" value="@menu.MenuId" />
                                                        _actionDisable = "";
                                                    }
                                                    else
                                                    {
                                                        <input class="custom-control-input" type="checkbox" asp-for="@Model.MenuPermissionList[_menuCnt].IsMenuActive" id="@_switchId" value="@menu.MenuId" />
                                                    }
                                                }
                                                <label class="custom-control-label" for="@_switchId" style="font-size:20px">@menu.Menu</label>
                                                <input type="hidden" asp-for="@Model.MenuPermissionList[_menuCnt].MenuId" value="@menu.MenuId" />
                                            </div>

                                            @{
                                                int _detailCnt = 0;
                                                string _actionId = "";
                                                foreach (var action in menu.MenuActionList)
                                                {
                                                    _actionId = "action_" + _menuCnt.ToString() + _detailCnt.ToString();
                                                    <div class="col-1 custom-control custom-checkbox">
                                                        @{
                                                            if (action.IsActionActive)
                                                            {
                                                                <input class="custom-control-input" @_actionDisable type="checkbox" checked asp-for="@Model.MenuPermissionList[_menuCnt].MenuActionList[_detailCnt].IsActionActive" id="@_actionId" />
                                                            }
                                                            else
                                                            {
                                                                <input class="custom-control-input" @_actionDisable type="checkbox" asp-for="@Model.MenuPermissionList[_menuCnt].MenuActionList[_detailCnt].IsActionActive" id="@_actionId" />
                                                            }
                                                        }

                                                        <label for="@_actionId" class="custom-control-label">@action.Action</label>
                                                        <input type="hidden" asp-for="@Model.MenuPermissionList[_menuCnt].MenuActionList[_detailCnt].ActionId" value="@action.ActionId" />
                                                    </div>
                                                    _detailCnt++;
                                                }
                                            }
                                            @{ _menuCnt++;}
                                        </div>
                                    }
                                }

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input id="btnUpdate" type="submit" class="btn btn-secondary" value="更新" />
                            </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<!-- Bootstrap Switch -->
<script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
@section scripts
{
    <script type="text/javascript">
        var _deptList = [];

        $(document).ready(function () {

            $.ajax({
                url: "./GetDeptOption?parentDeptId=0&levelId=0",
                type: "GET",
                dataType: "json",
                async: false,
                success: function (res) {
                    _deptList = res;
                }
            });

            if (@Model.DepartmentId != 0) {
                _deptList.forEach(function (dept) {
                    if (dept.relatedId == @Model.MODId && dept.id == @Model.DepartmentId) {
                        $("<option></option>").attr("value", dept.id).attr("selected", true).text(dept.value).appendTo($("#DepartmentId"));
                    }
                    else if (dept.relatedId == @Model.MODId) {
                        $("<option></option>").attr("value", dept.id).text(dept.value).appendTo($("#DepartmentId"));
                    }
                });
            }

            if (@Model.SectionId != 0) {
                _deptList.forEach(function (dept) {
                    if (dept.relatedId == @Model.DepartmentId  && dept.id == @Model.SectionId) {
                        $("<option></option>").attr("value", dept.id).attr("selected", true).text(dept.value).appendTo($("#SectionId"));
                    }
                    else if (dept.relatedId == @Model.DepartmentId) {
                        $("<option></option>").attr("value", dept.id).text(dept.value).appendTo($("#SectionId"));
                    }
                });
            }
        });

        $("input[id^='switch_']").click(function (e) {
            if (e.currentTarget.checked) {
                $('#' + e.currentTarget.id).attr('checked', true);
                $('#' + e.currentTarget.id).val('true');
                var _rowPermissions = e.currentTarget.parentElement.parentElement.children;
                for (var i = 1; i < _rowPermissions.length; i++) {
                    _rowPermissions[i].children[0].disabled = false;
                    _rowPermissions[i].children[2].disabled = false;
                }
            }
            else {
                $('#' + e.currentTarget.id).attr('checked', false);
                $('#' + e.currentTarget.id).val('false');
                var _rowPermissions = e.currentTarget.parentElement.parentElement.children;
                for (var i = 1; i < _rowPermissions.length; i++) {
                    _rowPermissions[i].children[0].disabled = true;
                    _rowPermissions[i].children[2].disabled = true;
                }
            }
        });

        $("input[id^='action_']").click(function (e) {
            if (e.currentTarget.checked) {
                $('#' + e.currentTarget.id).attr('checked', true);
                $('#' + e.currentTarget.id).val('true');
            }
            else {
                $('#' + e.currentTarget.id).attr('checked', false);
                $('#' + e.currentTarget.id).val('false');
            }
        });


        $("#MODId").change(function (e) {
            let modSelected = $("#MODId").find(":selected").val();
            $("#DepartmentId, #SectionId").empty();

            $("<option></option>").attr("value", 0).text("").appendTo($("#DepartmentId"));
            $("<option></option>").attr("value", 0).text("").appendTo($("#SectionId"));

            if (modSelected != '0') {
                _deptList.forEach(function (dept) {
                    if (dept.relatedId == modSelected) {
                        $("<option></option>").attr("value", dept.id).text(dept.value).appendTo($("#DepartmentId"));
                    }
                });
            }
        });

        $("#DepartmentId").change(function (e) {
            let sectionSelected = $("#DepartmentId").find(":selected").val();
            $("#SectionId").empty();

            $("<option></option>").attr("value", 0).text("").appendTo($("#SectionId"));

            if (sectionSelected != '0') {
                _deptList.forEach(function (dept) {
                    if (dept.relatedId == sectionSelected) {
                        $("<option></option>").attr("value", dept.id).text(dept.value).appendTo($("#SectionId"));
                    }
                });
            }
        });


        $("#btnUpdate").click(function (e) {

            alert("開發中...");

            @*if ($("#updateForm").valid()) {

                e.preventDefault();
                $.blockUI({
                    message: '請稍等...',
                    css: {
                        border: 'none',
                        padding: '5px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: '.5',
                        color: '#fff',
                        fontSize: '25px',
                        fontFamily: '微軟正黑體',
                        fontWeight: 300,
                    }
                });
                $.ajax({
                    url: "./Create",
                    type: "POST",
                    dataType: "json",
                    data: $("#updateForm").serialize(),
                    success: function (res) {
                        $.unblockUI();
                        if (res.isSuccess) {
                            alert('建立成功');
                            location.href = "@Url.ActionLink("Index", "AccountManagement")";
                        }
                        else {
                            alert(res.msg);
                            return false;
                        }
                    }
                });
            }*@
        });

    </script>
}