@model List<MOD4.Web.ViewModel.AccountViewModel>

@{
    ViewData["Title"] = "帳號管理";
}

<style>
    .card-title {
        font-size: 30px;
        font-weight: 900;
    }

    table {
        box-shadow: 2px 2px 2px #999;
    }

    .card {
        box-shadow: 2px 2px 2px #999;
        background-color: #c3cadb;
    }

    tbody tr:nth-child(even) {
        background: #c3cadb;
    }

    tbody tr:nth-child(odd) {
        background: #cfd5e2;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/buttonStyleCRUD.css">
</head>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">帳號管理</h3>
                        </div>
                        <div id="barDiv1" class="card-body">
                            <div>
                                <input id="btnCreate" type="button" style="margin-bottom:10px" class="btn" name="btn30" value="+建立" />
                            </div>
                            <table id="table1" class="table table-bordered table-hover">
                                <thead style="background-color: #95b9c2">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                                        <th>@Html.DisplayNameFor(model => model.First().Account)</th>
                                        <th>@Html.DisplayNameFor(model => model.First().LevelId)</th>
                                        <th>@Html.DisplayNameFor(model => model.First().JobId)</th>
                                        <th>@Html.DisplayNameFor(model => model.First().Department)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var account in Model)
                                        {
                                            <tr>
                                                <td style="width:8%">@account.Name</td>
                                                <td style="width:8%">@account.Account</td>
                                                <td style="width:9%">@account.LevelId</td>
                                                <td style="width:12%">@account.JobId</td>
                                                <td style="width:8%">@account.Department</td>
                                                <td style="width:6%">
                                                    <div style="display:flex">
                                                        @*<div>
                                                                <a id="btnDetail" class="btn btn-sm btn-outline-info"><i class="fas fa-eye">明細</i></a>
                                                            </div>*@
                                                        <div>
                                                            <a id="btnEdit" class="btn btn-sm btn-outline-secondary" onclick="editClick(@account.Sn)"><i class="fas fa-edit">編輯</i></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script type="text/javascript">

    let myFun = {
        mainSearch() {
            $.ajax({
                url: "./AccountManagement/Search?startDate=" + $("#startDTE").val() + "&endDate=" + $("#endDTE").val() + "&statusId=" + $("#selStatus").val() + "&fabInTypeId=" + $("#selFabInType").val() + "&orderNo=" + $("#orderNo").val() + "&applicant=" + $("#applicant").val(),
                type: "GET",
                dataType: "html",
                success: function (res) {
                    if (isJsonString(res)) {
                        var _res = JSON.parse(res);
                        alert(_res.msg);
                        return false;
                    }
                    else {
                        $("#table1_wrapper").remove();
                        $("#splitbr").after(res);
                        $('#table1').DataTable({
                            "responsive": false
                            , "lengthChange": true
                            , "autoWidth": false
                            , "paging": true
                            , "order": false
                        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
                    }
                }
            });
        },
        editFunc(sn) {
            $.ajax({
                url: "./AccountManagement/Edit?accountSn=" + sn,
                type: "GET",
                dataType: "html",
                success: function (res) {
                    if (isJsonString(res)) {
                        var _res = JSON.parse(res);
                        alert(_res.msg);
                        return false;
                    }
                    else {
                        $("#table1_wrapper").remove();
                        $("#splitbr").after(res);
                        $('#table1').DataTable({
                            "responsive": false
                            , "lengthChange": true
                            , "autoWidth": false
                            , "paging": true
                            , "order": [[0, "desc"]]
                        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
                    }
                }
            });
        },
        createAccount() {
            location.href = "./AccountManagement/Create";
        }
    }

    $(function () {
        $('#table1').DataTable({
            "paging": true,
            //"searching": false,
            //"ordering": true,
            //"info": true,
            "responsive": false,
            "lengthChange": true,
            "autoWidth": false,
            "order": false
            /*"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]*/
        }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');

        $("#dropCat,#dropStatus").multiselect({});

        $('#startDTE').attr("max", new Date().toISOString().slice(0, 10));
        $('#endDTE').attr("max", new Date().toISOString().slice(0, 10));
    });

    $("#btnSearch").click(myFun.mainSearch);

    $("#btnCreate").click(myFun.createAccount);

    function editClick(sn) {
        window.open("./AccountManagement/Edit?accountSn=" + sn, '_blank');
    }

</script>
